@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';
// 人员列表
.audit_list {
    $item-height: 40px;

    width: 100%;

    .item {
        height: $item-height;
        line-height: $item-height;
        border-bottom: 1px solid #eee;

        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: $item-height;
        }
        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .icon {
            width: 30px;
            padding: 0 10px;

            & .fa {
                margin-right: 5px;
            }

            & .fa.error {
                color: #ff4d4f;
            }

            & .fa.succeed {
                color: #52c41a;
            }

            & .fa.stateless {
                color: #1890ff;
            }
        }

        & > .title {
            flex: 1;
            cursor: pointer;
            padding: 0 10px;
            width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        & > .btns {
            .btn {
                padding: 0 10px;
                // border-left: 1px solid #eee;
                color: #40a9ff;
                cursor: pointer;
            }
        }
    }
}

.form_lyt {
    height: 100%;
    width: 100%;

    position: relative;

    .btns {
        position: absolute;
        right: 20px;
        bottom: 10px;
        margin: auto;
    }
}
.batch_audit {
    text-align: right;
    margin: 0 10px;
    width: 100%;
    & > button {
        width: 100%;
    }
}

// 人员审批
.person_audit_list {
    color: #000;

    .item {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;

        .a_info {
            span {
                margin-right: 10px;
            }
        }
    }
}

.oper_step_flow {
    height: 120px;
    padding: 40px 10px 0 10px;
    margin: 20px;

    background-color: #f0f8ff;
    border: 1px solid #cce8ff;
}

.layout {
    .form_list_tab {
        display: inline-block;
    }

    &.page_view {
        position: relative;

        .right_hang {
            position: absolute;
            top: 0;
            right: 10px;
            height: auto;
            z-index: 88;
            background: #fff;

            .btn {
                width: 55px;
                padding: 5px 0;
                border: 1px solid #ececec;
                border-bottom: none;
                text-align: center;
                font-size: 14px;
                cursor: pointer;

                &:first-child {
                    border-top: none;
                }
                &:last-child {
                    border-bottom: 1px solid #ececec;
                }
                i {
                    font-size: 18px;
                }
                &:hover {
                    color: #1890ff;
                }
            }
        }
    }

    .person_list {
        width: 200px !important;
    }
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
}

tr.change {
    font-weight: bold;
    color: #000;
}
@media screen and (max-width: 1280px) {
    .form_list_tab {
        width: 600px;
    }
}
