<div class="layout">
    <div class="container">
        <div class="view_scroll">
            <nz-table
                #salaryGZ07Table
                nzSize="small"
                [nzPageSize]="size"
                nzBordered
                [nzData]="salaryTableIfy.data"
            >
                <thead>
                    <tr>
                        <ng-container *ngFor="let item of salaryTableIfy.fields">
                            <th [attr.field]="item.TABLE_COLUMN_CODE">
                                {{ item.TABLE_COLUMN_NAME }}
                            </th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of salaryGZ07Table.data">
                        <ng-container *ngFor="let item of salaryTableIfy.fields">
                            <td class="value_readly" [attr.itemid]="item.TABLE_COLUMN_CODE">
                                <ng-container
                                    *ngIf="
                                        !item.TABLE_COLUMN_DICTIONARY_CODE;
                                        else elseChildTemplate
                                    "
                                >
                                    <ng-container [ngSwitch]="item.TABLE_COLUMN_TYPE">
                                        <ng-template [ngSwitchCase]="columnTypeEnum.DATE">
                                            {{ data[item.TABLE_COLUMN_CODE] | date: 'yyyy-MM-dd' }}
                                        </ng-template>
                                        <ng-template ngSwitchDefault>
                                            {{ data[item.TABLE_COLUMN_CODE] }}</ng-template
                                        >
                                    </ng-container>
                                </ng-container>
                                <ng-template #elseChildTemplate>
                                    {{ data[item.TABLE_COLUMN_CODE + '_CN'] || '' }}
                                </ng-template>
                            </td>
                        </ng-container>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
