<div class="layout">
    <div class="container">
        <div class="view">
            <gz-inner-transfer-list-form
                [jobStepInfo]="jobStepInfo"
                (auditStstusChange)="loadOperAuditState()"
            ></gz-inner-transfer-list-form>
        </div>
    </div>
    <div class="footer foot_options" *ngIf="URLParams?.jobStepState <= 4">
        <ng-container *ngIf="isUsable">
            <button
                nz-button
                nzType="primary"
                *ngIf="operAuditState !== 1"
                (click)="operBaseOptionIfy.evtSendBack()"
            >
                退回业务
            </button>

            <button nz-button nzType="default" (click)="operBaseOptionIfy.evtUndo()">
                撤销草稿
            </button>
        </ng-container>
        <div *ngIf="!isUsable && !URLParams?.isFinished">
            <button nz-button nzType="default" (click)="operBaseOptionIfy.evtUndo()">
                撤销申报
            </button>
        </div>
        <ng-container *ngIf="isUsable && jobStepInfo?.stepId !== 'leader'">
            <button
                nz-button
                nzType="primary"
                *ngIf="operAuditState === 1"
                (click)="setAuditUnitIfy.open()"
            >
                选择单位上报业务
            </button>
        </ng-container>
        <ng-container *ngIf="isUsable && jobStepInfo?.stepId === 'leader'">
            <button
                nz-button
                nzType="primary"
                *ngIf="operAuditState === 1"
                (click)="operBaseOptionIfy.evtArchives()"
            >
                归档业务
            </button>
        </ng-container>
        <div class="right">
            <button nz-button nzType="danger" (click)="operBaseOptionIfy.evtStop()">
                终止业务
            </button>
        </div>
    </div>
</div>

<!-- 上报业务，选择单位 -->
<nz-drawer
    [nzVisible]="setAuditUnitIfy.visible"
    [nzTitle]="setAuditUnitIfy.title"
    [nzWidth]="setAuditUnitIfy.width"
    (nzOnClose)="setAuditUnitIfy.close()"
>
    <div class="drawer_area select_audit_unit">
        <div class="header">
            <nz-select
                [ngStyle]="{ 'width.px': setAuditUnitIfy.find.searchWidth || 160 }"
                nzShowSearch
                nzServerSearch
                nzAllowClear
                [nzPlaceHolder]="setAuditUnitIfy.find.placeholder || '请输入关键字搜索'"
                [nzShowArrow]="false"
                [nzFilterOption]="setAuditUnitIfy.find.nzFilterOption"
                [(ngModel)]="setAuditUnitIfy.find.searchKey"
                (ngModelChange)="setAuditUnitIfy.find.evtModelChange()"
                (nzOnSearch)="setAuditUnitIfy.find.evtSearch($event)"
                (nzFocus)="setAuditUnitIfy.find.evtFocus()"
            >
                <ng-container *ngFor="let item of setAuditUnitIfy.find.list">
                    <nz-option [nzLabel]="item.text" [nzValue]="item.value"> </nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div class="container">
            <div class="other_list">
                <ng-container *ngFor="let item of setAuditUnitIfy.list; let i = index">
                    <div
                        class="item"
                        [class.active]="i === setAuditUnitIfy.selectIndex"
                        (click)="setAuditUnitIfy.evtSelectUnit(i)"
                    >
                        <div class="title">{{ item.ORG_NAME }}</div>
                        <div class="icon" *ngIf="i === setAuditUnitIfy.selectIndex">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="footer">
            <button
                nz-button
                nzType="primary"
                [disabled]="!wfInfo?.reportingGroup || setAuditUnitIfy.selectIndex === -1"
                (click)="setAuditUnitIfy.evtSubmit()"
            >
                上报业务
            </button>
        </div>
    </div>
</nz-drawer>
