<div class="layout">
    <div class="container">
        <div class="left person_left">
            <div class="find">
                <nz-select
                    class="wh_100"
                    [style.width.px]="170"
                    nzShowSearch
                    nzServerSearch
                    [nzPlaceHolder]="personListIfy.find.placeholder || '请输入关键字搜索'"
                    [nzShowArrow]="false"
                    [nzFilterOption]="personListIfy.find.nzFilterOption"
                    [(ngModel)]="personListIfy.find.value"
                    (ngModelChange)="personListIfy.find.evtChange($event)"
                    (nzOnSearch)="personListIfy.find.evtSearch($event)"
                >
                    <nz-option
                        *ngFor="let item of personListIfy.find.list"
                        [nzLabel]="item.label"
                        [nzValue]="item.value"
                    >
                    </nz-option>
                </nz-select>
            </div>
            <div class="tree">
                <cdk-virtual-scroll-viewport
                    class="view_scroll audit_list"
                    [itemSize]="40"
                    #personListView
                >
                    <ng-container *ngFor="let item of personListIfy.list; let i = index">
                        <div
                            class="item"
                            [class.active]="i === personListIfy.selectedIndex"
                            (click)="personListIfy.evtSelectedPerson(i)"
                        >
                            <div class="title">{{ item.name }}</div>
                        </div>
                    </ng-container>
                </cdk-virtual-scroll-viewport>
            </div>
            <div class="handle paging">
                <nz-pagination
                    nzSimple
                    [(nzPageIndex)]="personListIfy.pageIndex"
                    [nzTotal]="personListIfy.totalCount"
                    [(nzPageSize)]="personListIfy.pageSize"
                    (nzPageIndexChange)="personListIfy.pageChange()"
                ></nz-pagination>
            </div>
        </div>
        <div class="right">
            <div class="layout">
                <div class="header">
                    <nz-tabset
                        nzType="line"
                        [nzTabBarStyle]="{ 'margin.px': 0, 'height.px': 50 }"
                        [(nzSelectedIndex)]="patternIfy.selectedIndex"
                        (nzSelectChange)="patternIfy.evtChange($event)"
                    >
                        <ng-container *ngFor="let item of patternIfy.list">
                            <nz-tab [nzTitle]="item.text"></nz-tab>
                        </ng-container>
                    </nz-tabset>
                </div>
                <div class="container">
                    <div
                        class="view"
                        [hidden]="!(patternIfy.list[patternIfy.selectedIndex].value === 0)"
                    >
                        <p-person-salary-gwy
                            [personBaseInfo]="formPageParams"
                        ></p-person-salary-gwy>
                    </div>
                    <div
                        class="view year_salary_info"
                        [hidden]="!(patternIfy.list[patternIfy.selectedIndex].value === 1)"
                    >
                        <ng-template
                            [ngTemplateOutlet]="mainTemplate"
                            [ngTemplateOutletContext]="{
                                fields: yearSalaryInfoIfy.fields,
                                result: yearSalaryInfoIfy.result
                            }"
                        ></ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 年内工资信息 -->
<ng-template #mainTemplate let-fields="fields" let-result="result">
    <table class="custom_table">
        <tbody>
            <ng-container *ngFor="let row of fields; let rowIndex = index">
                <tr *ngIf="rowIndex % 3 === 0">
                    <ng-container *ngFor="let cell of fields; let cellIndex = index">
                        <ng-container *ngIf="rowIndex <= cellIndex && cellIndex < rowIndex + 3">
                            <td class="label">{{ cell.TABLE_COLUMN_NAME }}</td>
                            <td class="value" [attr.itemId]="cell.TABLE_COLUMN_CODE">
                                <ng-container
                                    *ngIf="
                                        !cell?.TABLE_COLUMN_DICTIONARY_CODE;
                                        else elseCodeTemplate
                                    "
                                >
                                    {{ result[cell?.TABLE_COLUMN_CODE] || '' }}
                                </ng-container>
                                <ng-template #elseCodeTemplate>
                                    {{ result[cell?.TABLE_COLUMN_CODE + '_CN'] || '' }}
                                </ng-template>
                            </td>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </table>
</ng-template>
