@import 'src/app/styles/layout';

.paging {
    border-top: 1px solid #eee;
    border-bottom: none !important;
}

.wh_100 {
    width: 100%;
}
.mg_lr_10 {
    margin: 0 10px;
}

// 人员列表
.audit_list {
    $item-height: 40px;

    width: 100%;

    .item {
        height: $item-height;
        line-height: $item-height;
        border-bottom: 1px solid #eee;

        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: $item-height;
        }
        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .title {
            flex: 1;
            cursor: pointer;
            padding: 0 10px;
            height: $item-height;
        }
    }
}

.year_salary_info {
    padding: 10px;
}

.custom_table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid #e8e8e8;

    &.readly {
        td {
            background-color: #fafafa;
        }
    }
    tr {
        border-bottom: 1px solid #e8e8e8;

        td,
        th {
            // padding: 12px 24px;
            padding: 8px 16px;
            text-align: left;
            border-right: 1px solid #e8e8e8;
        }

        .label {
            background-color: #f0fbff;
            color: #000;
            font-weight: bold;
        }

        .value {
            position: relative;

            input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                margin: auto;
                border: none;
                padding: 0 16px;
            }
        }
    }
    tr > th[colspan] {
        text-align: center;
    }
}
.person_left {
    width: 190px !important;
}
