<!-- 选择人员模板 -->
<nz-drawer
    [nzOffsetX]="selectPersonIfy.unitify.visible ? 180 : 0"
    [nzVisible]="selectPersonIfy.visible"
    nzPlacement="right"
    [nzTitle]="selectPersonIfy.title"
    [nzWidth]="selectPersonIfy.width"
    (nzOnClose)="selectPersonIfy.close()"
>
    <div class="drawer_area select_person">
        <div class="header">
            <nz-select
                [ngStyle]="{ 'width.px': selectPersonIfy.find.searchWidth || 160 }"
                nzShowSearch
                nzServerSearch
                nzAllowClear
                [nzPlaceHolder]="selectPersonIfy.find.placeholder || '请输入关键字搜索'"
                [nzShowArrow]="false"
                [nzFilterOption]="selectPersonIfy.find.nzFilterOption"
                [(ngModel)]="selectPersonIfy.find.searchKey"
                (ngModelChange)="selectPersonIfy.find.evtModelChange($event)"
                (nzOnSearch)="selectPersonIfy.find.evtSearch($event)"
                (nzFocus)="selectPersonIfy.find.evtFocus()"
            >
                <ng-container *ngFor="let item of selectPersonIfy.find.list">
                    <nz-option [nzLabel]="item.text" [nzValue]="item.value"> </nz-option>
                </ng-container>
            </nz-select>
            <ng-container *ngIf="isSelectUnit">
                <nz-divider nzType="vertical"></nz-divider>
                <button nz-button (click)="selectPersonIfy.evtSwitchUnit()">切换单位</button>
            </ng-container>
        </div>
        <div class="container">
            <p>当前选中：{{ selectPersonIfy.tableIfy.unitify || '未选择' }}</p>
            <nz-table
                #personTableTemp
                nzShowSizeChanger
                nzBordered
                nzSize="small"
                [nzFrontPagination]="false"
                [nzShowSizeChanger]="false"
                [nzData]="selectPersonIfy.tableIfy.result"
                [nzTotal]="selectPersonIfy.tableIfy.totalCount"
                [(nzPageIndex)]="selectPersonIfy.tableIfy.pageIndex"
                [(nzPageSize)]="selectPersonIfy.tableIfy.pageSize"
                (nzPageIndexChange)="selectPersonIfy.tableIfy.evtDataChange()"
                (nzPageSizeChange)="selectPersonIfy.tableIfy.evtDataChange(true)"
            >
                <thead>
                    <tr>
                        <th
                            nzWidth="62px"
                            nzShowCheckbox
                            [nzIndeterminate]="selectPersonIfy.tableIfy.indeterminate"
                            [(nzChecked)]="selectPersonIfy.tableIfy.allChecked"
                            (nzCheckedChange)="selectPersonIfy.tableIfy.evtCheckAll($event)"
                        ></th>
                        <th nzWidth="100px">姓名</th>
                        <th>身份证</th>
                        <th nzWidth="120px">出生日期</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of personTableTemp.data; let i = index"
                        [class.active]="selectPersonIfy.tableIfy.selectRowIndex === i"
                    >
                        <td
                            [nzDisabled]="data.disabled"
                            nzShowCheckbox
                            [(nzChecked)]="data.checked"
                            (nzCheckedChange)="
                                selectPersonIfy.tableIfy.evtRefreshStatus($event, data)
                            "
                        ></td>
                        <td>{{ data.A0101 }}</td>
                        <td>{{ data.A0184 }}</td>
                        <td>{{ data.A0107 | date: 'yyyy-MM-dd' }}</td>
                    </tr>
                </tbody>
            </nz-table>
            <div class="gl_card">
                <div class="title">已选人员：{{ selectPersonIfy.list.length || 0 }} 人</div>
                <div class="content">
                    <ng-container *ngFor="let item of selectPersonIfy.list">
                        <nz-tag nzMode="closeable" (nzOnClose)="selectPersonIfy.evtDelete(item)">{{
                            item.A0101
                        }}</nz-tag>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="footer">
            <button
                nz-button
                nzType="primary"
                [nzLoading]="selectPersonIfy.loading"
                (click)="selectPersonIfy.evtSelectedPerson()"
            >
                确认选择
            </button>
        </div>
    </div>

    <nz-drawer
        [nzVisible]="selectPersonIfy.unitify.visible"
        nzPlacement="right"
        [nzTitle]="selectPersonIfy.unitify.title"
        [nzWidth]="selectPersonIfy.unitify.width"
        (nzOnClose)="selectPersonIfy.unitify.close()"
    >
        <div class="drawer_area">
            <!-- <div class="header">
                <nz-select
                    nzPlaceHolder="选择机构分组"
                    [ngStyle]="{ 'width.px': selectPersonIfy.unitify.groupIfy.searchWidth || 160 }"
                    [(ngModel)]="selectPersonIfy.unitify.groupIfy.value"
                    (ngModelChange)="selectPersonIfy.unitify.groupIfy.evtChange()"
                >
                    <ng-container *ngFor="let item of selectPersonIfy.unitify.groupIfy.list">
                        <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                    </ng-container>
                </nz-select>
            </div> -->
            <div class="header">
                <nz-select
                    [ngStyle]="{ 'width.px': selectPersonIfy.unitify.find.searchWidth || 160 }"
                    nzShowSearch
                    nzServerSearch
                    nzAllowClear
                    [nzPlaceHolder]="selectPersonIfy.unitify.find.placeholder || '请输入关键字搜索'"
                    [nzShowArrow]="false"
                    [nzFilterOption]="selectPersonIfy.unitify.find.nzFilterOption"
                    [(ngModel)]="selectPersonIfy.unitify.find.searchKey"
                    (ngModelChange)="selectPersonIfy.unitify.find.evtModelChange($event)"
                    (nzOnSearch)="selectPersonIfy.unitify.find.evtSearch($event)"
                    (nzFocus)="selectPersonIfy.unitify.find.evtFocus()"
                >
                    <ng-container *ngFor="let item of selectPersonIfy.unitify.find.list">
                        <nz-option [nzLabel]="item.text" [nzValue]="item.value"> </nz-option>
                    </ng-container>
                </nz-select>
            </div>

            <div class="container tree_view">
                <cdk-virtual-scroll-viewport #scrollViewport [itemSize]="32" class="view_scroll">
                    <nz-tree
                        #OrgTreeElement
                        nzAsyncData
                        [nzMultiple]="false"
                        [nzSelectedKeys]="selectPersonIfy.unitify.nzSelectedKeys"
                        [nzExpandedKeys]="selectPersonIfy.unitify.nzExpandedKeys"
                        [nzData]="selectPersonIfy.unitify.nodes"
                        (nzClick)="selectPersonIfy.unitify.evtActiveNode($event)"
                        (nzExpandChange)="selectPersonIfy.unitify.expandChange($event)"
                        [nzTreeTemplate]="nzTreeTemplate"
                    >
                        <ng-template #nzTreeTemplate let-node>
                            <span
                                class="custom-node"
                                [class.active]="
                                    selectPersonIfy.unitify.activedNode?.key === node.key
                                "
                            >
                                <i
                                    class="fa fa-{{
                                        selectPersonIfy.unitify.icons[node.origin?.nodeType]
                                    }}"
                                    aria-hidden="true"
                                ></i>
                                <span class="node-text" [attr.title]="node.title">{{
                                    node.title
                                }}</span>
                            </span>
                        </ng-template>
                    </nz-tree>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </nz-drawer>
</nz-drawer>
