<nz-drawer
    [nzVisible]="batchTransferDra.visible"
    [nzTitle]="batchTransferDra.title"
    [nzWidth]="batchTransferDra.width"
    (nzOnClose)="batchTransferDra.close()"
    [nzOffsetX]="selectPSNDra.visible ? 100 : 0"
>
    <div class="drawer_area">
        <div class="header" [ngStyle]="{ 'border-bottom': '1px solid #eee', 'padding-top': '5px' }">
            <form nz-form [formGroup]="batchTransferDra.form" nzLayout="inline">
                <nz-form-item>
                    <nz-form-label nzRequired>转移时间</nz-form-label>
                    <nz-form-control nzErrorTip="请填写转移时间">
                        <nz-date-picker formControlName="A2907"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>转移类别</nz-form-label>
                    <nz-form-control nzErrorTip="请填写转移类别">
                        <dictionary-input formControlName="A2911" code="BB004">
                        </dictionary-input>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>转移方式</nz-form-label>
                    <nz-form-control nzErrorTip="请填写转移方式">
                        <nz-select
                            formControlName="mode"
                            nzMode="multiple"
                            nzMaxTagCount="0"
                            [style.width.px]="140"
                        >
                            <nz-option nzLabel="统计关系转移" [nzValue]="'02'"></nz-option>
                            <nz-option nzLabel="任职单位转移" [nzValue]="'01'"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="header">
            <nz-tabset
                [nzTabBarStyle]="{ 'margin.px': 0, 'height.px': 50 }"
                [(nzSelectedIndex)]="batchTransferDra.state"
            >
                <nz-tab nzTitle="整体转移"></nz-tab>
                <nz-tab nzTitle="部分人员转移"></nz-tab>
            </nz-tabset>
        </div>
        <div class="container">
            <div class="div-flex">
                <div class="div-flex-items">
                    <div class="header">
                        <nz-select
                            nzAllowClear
                            nzShowSearch
                            nzServerSearch
                            [nzShowArrow]="false"
                            nzPlaceHolder="输入搜索关键字"
                            [(ngModel)]="leftTreeIfy.find.value"
                            (nzOnSearch)="leftTreeIfy.find.evtOnSearch($event)"
                            (ngModelChange)="leftTreeIfy.find.evtChange($event)"
                            [style.width.%]="100"
                        >
                            <ng-container *ngFor="let item of leftTreeIfy.find.list">
                                <nz-option
                                    [nzValue]="item.value"
                                    [nzLabel]="item.label"
                                ></nz-option>
                            </ng-container>
                        </nz-select>
                    </div>
                    <div class="content">
                        <cdk-virtual-scroll-viewport
                            #scrollViewport_left
                            [itemSize]="32"
                            class="view_scroll"
                        >
                            <nz-tree
                                #orgUnitElement_left
                                nzAsyncData
                                [nzData]="leftTreeIfy.nodes"
                                [nzTreeTemplate]="lnodeView"
                                (nzClick)="leftTreeIfy.evtActiveNode($event)"
                                (nzExpandChange)="leftTreeIfy.evtChangeNode($event)"
                            >
                                <ng-template #lnodeView let-node>
                                    <span
                                        class="custom-node"
                                        [class.active]="leftTreeIfy.activeNode?.key === node.key"
                                    >
                                        <i
                                            class="fa fa-{{
                                                leftTreeIfy.nodeIcon[node.origin?.nodeType]
                                            }}"
                                            aria-hidden="true"
                                        ></i>
                                        <span class="node-text" [attr.title]="node.title">{{
                                            node.title
                                        }}</span>
                                    </span>
                                </ng-template>
                            </nz-tree>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
                <div class="div-flex-item">
                    <button nz-button nzType="primary" (click)="batchTransferDra.save()">
                        确认转移
                    </button>
                    <button
                        nz-button
                        nzType="primary"
                        (click)="selectPSNDra.open()"
                        *ngIf="batchTransferDra.state"
                    >
                        选择人员
                    </button>
                </div>
                <div class="div-flex-items">
                    <div class="header">
                        <nz-select
                            nzAllowClear
                            nzShowSearch
                            nzServerSearch
                            [nzShowArrow]="false"
                            nzPlaceHolder="输入搜索关键字"
                            [(ngModel)]="rightTreeIfy.find.value"
                            (nzOnSearch)="rightTreeIfy.find.evtOnSearch($event)"
                            (ngModelChange)="rightTreeIfy.find.evtChange($event)"
                            [style.width.%]="100"
                        >
                            <ng-container *ngFor="let item of rightTreeIfy.find.list">
                                <nz-option
                                    [nzValue]="item.value"
                                    [nzLabel]="item.label"
                                ></nz-option>
                            </ng-container>
                        </nz-select>
                    </div>
                    <div class="content">
                        <cdk-virtual-scroll-viewport
                            #scrollViewport_right
                            [itemSize]="32"
                            class="view_scroll"
                        >
                            <nz-tree
                                #orgUnitElement_right
                                nzAsyncData
                                [nzData]="rightTreeIfy.nodes"
                                [nzTreeTemplate]="rnodeView"
                                (nzClick)="rightTreeIfy.evtActiveNode($event)"
                                (nzExpandChange)="rightTreeIfy.evtChangeNode($event)"
                            >
                                <ng-template #rnodeView let-node>
                                    <span
                                        class="custom-node"
                                        [class.active]="rightTreeIfy.activeNode?.key === node.key"
                                    >
                                        <i
                                            class="fa fa-{{
                                                rightTreeIfy.nodeIcon[node.origin?.nodeType]
                                            }}"
                                            aria-hidden="true"
                                        ></i>
                                        <span class="node-text" [attr.title]="node.title">{{
                                            node.title
                                        }}</span>
                                    </span>
                                </ng-template>
                            </nz-tree>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nz-drawer>

<!-- 选人 -->
<nz-drawer
    [nzTitle]="selectPSNDra.title"
    [nzWidth]="selectPSNDra.width"
    [nzVisible]="selectPSNDra.visible"
    (nzOnClose)="selectPSNDra.close()"
>
    <div class="drawer_area">
        <div class="container">
            <nz-table
                #personTableTemp
                nzBordered
                nzSize="small"
                [nzFrontPagination]="false"
                [nzData]="selectPSNDra.table.rows"
                [nzTotal]="selectPSNDra.table.total"
                [(nzPageIndex)]="selectPSNDra.table.pageIndex"
                [(nzPageSize)]="selectPSNDra.table.pageSize"
                (nzPageIndexChange)="selectPSNDra.table.loadRows()"
                (nzPageSizeChange)="selectPSNDra.table.loadRows()"
            >
                <thead>
                    <tr>
                        <th
                            nzWidth="62px"
                            nzShowCheckbox
                            [nzIndeterminate]="selectPSNDra.table.indeterminate"
                            [(nzChecked)]="selectPSNDra.table.allChecked"
                            (nzCheckedChange)="selectPSNDra.table.checkedAll($event)"
                        ></th>
                        <th>姓名</th>
                        <th>身份证</th>
                        <th>出生年月</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of personTableTemp.data">
                        <td
                            nzShowCheckbox
                            [(nzChecked)]="data.checked"
                            (nzCheckedChange)="selectPSNDra.table.refreshState()"
                        ></td>
                        <td>{{ data.A0101 }}</td>
                        <td>{{ data.A0184 }}</td>
                        <td>{{ data.A0107 | date: 'yyyy-MM-dd' }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="container">
            <nz-card nzTitle="已选择人员">
                <ng-container *ngFor="let item of selectPSNDra.selectedPsnList">
                    <nz-tag nzMode="closeable" (nzOnClose)="selectPSNDra.removeItem(item)">
                        {{ item.A0101 }}
                    </nz-tag>
                </ng-container>
            </nz-card>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="selectPSNDra.close()">确认</button>
        </div>
    </div>
</nz-drawer>
