<nz-drawer
    [nzClosable]="true"
    [nzVisible]="teacherTable.visible"
    nzPlacement="right"
    [nzTitle]="teacherTable.title"
    [nzWidth]="teacherTable.width"
    (nzOnClose)="teacherTable.close()"
>
    <div class="drawer_area">
        <div class="header">
            <button nz-button nzType="primary" (click)="teacherTable.addRow()">增加</button>
        </div>
        <div class="container edit_tbl">
            <div class="view_scroll">
                <div>
                    <nz-table
                        #allowance
                        [nzData]="teacherTable.data"
                        nzBordered
                        [nzLoading]="teacherTable.loading"
                    >
                        <thead>
                            <tr>
                                <th nzAlign="center">起薪时间</th>
                                <th nzAlign="center">办理时间</th>
                                <th nzAlign="center">是否执行</th>
                                <th nzAlign="center">附件</th>
                                <th nzAlign="center" nzWidth="100px">变动原因</th>
                                <th nzAlign="center" nzWidth="80px">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of allowance.data">
                                <td nzAlign="center" class="edit">
                                    <datetime-input
                                        nzMin="0"
                                        style="width: 100%"
                                        [(ngModel)]="data.GZ21A01"
                                        (ngModelChange)="saveData(data)"
                                    ></datetime-input>
                                </td>
                                <td nzAlign="center" class="edit">
                                    <datetime-input
                                        nzMin="0"
                                        style="width: 100%"
                                        [(ngModel)]="data.GZ21A02"
                                        (ngModelChange)="saveData(data)"
                                    ></datetime-input>
                                </td>

                                <td class="edit" nzAlign="center">
                                    <!-- CGZZJ -->
                                    <dictionary-input
                                        [code]="'CGZZJ'"
                                        [text]="data['GZ21A07' + '_CN']"
                                        [ngModel]="data.GZ21A07"
                                        (ngModelChange)="saveData(data, 'GZ21A07', $event)"
                                    >
                                    </dictionary-input>
                                </td>

                                <td class="edit" nzAlign="center">
                                    <button nz-button nzSize="small" (click)="upload.open(data)">
                                        上传附件
                                    </button>
                                </td>
                                <td nzAlign="center" class="edit">
                                    <input [(ngModel)]="data.GZ21A05" (change)="saveData(data)" />
                                </td>

                                <td class="edit" nzAlign="center">
                                    <a (click)="teacherTable.deleteData(data)">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
        <div class="footer">
            <button nz-button nzType="default" (click)="teacherTable.close()">取消</button>
        </div>
    </div>
</nz-drawer>
<!-- 上传附件 -->
<nz-drawer
    [nzClosable]="true"
    [nzVisible]="upload.visible"
    nzPlacement="right"
    nzTitle="上传附件材料"
    [nzWidth]="upload.width"
    (nzOnClose)="upload.close()"
>
    <div>
        <nz-upload
            nzMultiple
            [nzLimit]="5"
            [nzFileList]="upload.uploadIfy.list"
            [nzCustomRequest]="upload.uploadIfy.fileCustomRequest"
            [nzRemove]="upload.uploadIfy.fileRemove"
            [nzPreview]="upload.uploadIfy.preview"
        >
            <button nz-button [disabled]="upload.disable">
                <span><i nz-icon nzType="upload"></i>上传附件</span>
            </button>
        </nz-upload>
    </div>
</nz-drawer>
<!-- 在线预览附件 -->
<gl-online-doc
    #onlineDocOverlayElement
    [fileList]="upload.uploadIfy.list"
    [selectedIndex]="upload.uploadIfy.selectedIndex"
></gl-online-doc>
