<div class="layout">
    <div class="header">
        <nz-tabset
            (nzSelectedIndexChange)="formListIfy.setExcelData($event)"
            [nzTabBarStyle]="{ 'margin.px': 0, 'height.px': 50 }"
        >
            <nz-tab *ngFor="let item of formListIfy.list" [nzTitle]="item.text"></nz-tab>
        </nz-tabset>
    </div>
    <div class="container">
        <div class="view_scroll">
            <excel-control
                #excelView
                [permission]="formListIfy.xmlData?.permission"
                [params]="formListIfy.xmlData?.params"
            ></excel-control>
        </div>
        <div class="fixed_parent">
            <div class="fixed_right">
                <div
                    class="fixed_item"
                    *ngFor="let item of formListIfy.fixed.list"
                    (click)="formListIfy.fixed.click(item)"
                >
                    <div class="fixed_icon"><i nz-icon [nzType]="item.icon"></i></div>
                    <div class="fixed_text">{{ item.text }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
