.layout {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    // 查询面板
    .search {
        height: 100px;
        width: 100%;
        border-radius: 3px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        & > div {
            position: relative;
            top: 5px;
            text-align: center;
        }

        // 查询类型
        .type {
            width: 220px;
            padding: 5px;
            height: 40px;
            line-height: 40px;
        }

        // input查询框
        .putt-query {
            .input-entering {
                width: 740px;
                display: flex;
            }
        }

        .frequently-query-keyword {
            height: 40px;
            line-height: 40px;

            a {
                font-size: 16px;
                margin-right: 15px;

                &:last-child {
                    margin-right: auto;
                }
            }
        }
    }

    .route-page {
        position: absolute;
        top: 110px;
        bottom: 0;
        margin: auto;
        width: 100%;
        border-top: 10px solid #eee;
    }
    .title {
        color: #4099ff;
    }
}
