/*导入布局样式*/
@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

.view_mid {
    height: 1%;
    background-color: #f1f2f2;
}

.up_down_move {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    bottom: 2px;
}

.custom_table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid #e8e8e8;

    &.readly {
        td {
            background-color: #fafafa;
        }
    }
    tr {
        border-bottom: 1px solid #e8e8e8;
        &.active {
            background-color: #e6f7ff;
        }

        td {
            input {
                &.active {
                    background-color: #e6f7ff;
                }
            }
        }

        td,
        th {
            // padding: 12px 24px;
            padding: 8px 16px;
            text-align: left;
            border-right: 1px solid #e8e8e8;
        }

        td.value_date {
            padding: 3px 4px !important;
        }

        td.value_readly {
            cursor: pointer;
            background-color: #fafafa;
        }

        td.sort_value {
            cursor: pointer;
        }

        .label {
            background-color: #f5f5f5;
            color: #000;
            font-weight: bold;
        }

        .value {
            position: relative;

            input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                margin: auto;
                border: none;
                padding: 0 16px;
            }

            .glIcon {
                display: inline-block;
                right: 16px;
                position: absolute;
                top: 9px;
                cursor: pointer;
            }
        }
    }
}

.view_table {
    padding: 10px;
}

.empty {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disable_input {
    background-color: #f0f0f0;
}

.spin {
    min-width: 1050px;
}

.arrows {
    font-size: 18px;
    cursor: pointer;
    display: inline;
    margin-right: 15px;
    & > i {
        font-size: 20px;
        color: #767676;
        &:hover {
            color: #1890ff;
        }
    }
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

:host ::ng-deep {
    nz-spin {
        .ant-spin-container {
            height: 100% !important;
        }
    }
}

.opreate_icon {
    font-size: 20px;
    cursor: pointer;
    color: #828282;

    &:hover {
        color: #1890ff;
    }
}

.A01Child_header {
    & > div {
        display: inline-block;
        margin-right: 10px;
    }

    .special_icon {
        font-size: 20px;
    }
}

.tabset_header {
    position: relative;
    & > div {
        display: inline-block;
    }
}

.gz06_table {
    width: 100%;

    input {
        width: 100%;
        border: 0;
    }
}

.gz06_page {
    float: right;
    padding: 20px 0 10px 0;
}

:host ::ng-deep {
    td.value_date {
        datetime-input {
            .ant-input-affix-wrapper {
                border: none;
                &:focus {
                    box-shadow: 0 0px 0px #fff !important;
                }
            }
            &.active {
                .ant-input-affix-wrapper {
                    background-color: #e6f7ff;
                    .ant-input {
                        background-color: #e6f7ff;
                    }
                }
            }
        }
    }
}

.self_left {
    width: 220px !important;
    .left_btn {
        width: 100%;

        nz-select {
            width: 100%;
            margin: 0 10px;
        }

        & > * {
            margin-right: 5px;
            margin-left: 5px;
            width: 32px;
            padding: inherit;

            &:first-child {
                margin-left: 10px;
            }

            &:last-child {
                margin-right: 10px;
            }
        }

        .out_inner_icon {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

// 人员列表
.audit_list {
    $item-height: 40px;
    width: 100%;

    .item {
        height: $item-height;
        line-height: $item-height;
        border-bottom: 1px solid #eee;

        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: $item-height;
        }
        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .icon {
            width: 30px;
            padding: 0 10px;

            & .fa {
                margin-right: 5px;
            }

            & .fa.error {
                color: #ff4d4f;
            }

            & .fa.succeed {
                color: #52c41a;
            }

            & .fa.stateless {
                color: #1890ff;
            }
        }

        & > .title {
            flex: 1;
            cursor: pointer;
            padding: 0 10px;
            height: $item-height;
        }

        & > .btns {
            .btn {
                padding: 4px 10px 0 10px;
                color: #40a9ff;
                cursor: pointer;
            }
        }
    }
}

.handle.bottom {
    border: none;
    border-top: 1px solid #eee;
}
