<div class="layout oper_main">
    <div class="header">
        <div class="trans_step">
            <nz-steps
                [nzCurrent]="transactionStepsIfy.current"
                [ngStyle]="{ cursor: 'pointer' }"
                (nzIndexChange)="transactionStepsIfy.evtStepChange($event)"
            >
                <nz-step *ngFor="let item of transactionStepsIfy.list" [nzTitle]="item.name">
                </nz-step>
            </nz-steps>
        </div>

        <!-- <div class="right">
            <nz-button-group>
                <button nz-button nzType="primary" (click)="transactionStepsIfy.evtLoadOperFlow()">
                    业务流程图
                </button>
                <button nz-button nzType="primary" (click)="transactionStepsIfy.evtLoadOperTail()">
                    流程跟踪
                </button>
            </nz-button-group>
        </div> -->
    </div>

    <!-- 业务小步骤具体内容切换，渲染只做隐藏 -->
    <ng-container *ngFor="let item of transactionStepsIfy.list; let i = index">
        <div [hidden]="i !== transactionStepsIfy.current" class="container">
            <ng-template [ngTemplateOutlet]="item?.template"></ng-template>
        </div>
    </ng-container>
    <div class="footer">
        <ng-container [ngSwitch]="transactionStepsIfy.current">
            <ng-template [ngSwitchCase]="0">
                <button
                    nz-button
                    nzType="primary"
                    nzGhost
                    [disabled]="!transactionStepsIfy.isUsable"
                    (click)="transactionStepsIfy.evtStepChange(1)"
                >
                    下一步：{{ transactionStepsIfy.list[1]?.name }}
                </button>
            </ng-template>
            <ng-template [ngSwitchCase]="1">
                <button
                    nz-button
                    nzType="primary"
                    nzGhost
                    (click)="transactionStepsIfy.evtStepChange(0)"
                >
                    上一步：{{ transactionStepsIfy.list[0]?.name }}
                </button>
                <button
                    nz-button
                    nzType="primary"
                    nzGhost
                    (click)="transactionStepsIfy.evtStepChange(2)"
                >
                    下一步：{{ transactionStepsIfy.list[2]?.name }}
                </button>
            </ng-template>
            <ng-template [ngSwitchCase]="2">
                <button
                    nz-button
                    nzType="primary"
                    nzGhost
                    (click)="transactionStepsIfy.evtStepChange(1)"
                >
                    上一步：{{ transactionStepsIfy.list[1]?.name }}
                </button>
                <button
                    nz-button
                    nzType="primary"
                    (click)="transactionStepsIfy.evtSelectAuditUnit()"
                    *ngIf="isUsable"
                >
                    选择单位上报业务
                </button>
            </ng-template>
        </ng-container>
    </div>
</div>

<!-- 选择联系人联系方式 -->
<oper-select-contacts
    #operSelectContactsElement
    (selectChange)="operBaseInfoIfy.evtSelectChange($event)"
></oper-select-contacts>
<!-- 小步骤：第一步  业务基本信息表单 -->
<ng-template #operBaseInfoEditor let-formGroup="formGroup" let-uploadIfy="uploadIfy">
    <form nz-form nz-row [formGroup]="formGroup">
        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>业务标题</nz-form-label>
                <nz-form-control nzSpan="20" nzErrorTip="业务标题为空或超出长度范围">
                    <input nz-input placeholder formControlName="title" />
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>业务经办人</nz-form-label>
                <nz-form-control nzSpan="10" nzErrorTip="业务经办人为空或超出长度范围(30)。">
                    <input nz-input placeholder formControlName="contacts" />
                </nz-form-control>
                <div nzSpan="4" [style.paddingTop.px]="4" *ngIf="isUsable">
                    <button nz-button nzType="link" (click)="operBaseInfoIfy.evtSelectContacts()">
                        选择已有联系人
                    </button>
                </div>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>联系方式</nz-form-label>
                <nz-form-control nzSpan="10" [nzErrorTip]="contactNumberErrorTemp">
                    <input nz-input placeholder formControlName="contactNumber" />
                    <ng-template #contactNumberErrorTemp>
                        <ng-container
                            *ngIf="
                                formGroup.get('contactNumber')?.dirty &&
                                formGroup.get('contactNumber')?.errors
                            "
                        >
                            <ng-container
                                *ngIf="formGroup.get('contactNumber')?.hasError('required')"
                            >
                                联系方式不能为空
                            </ng-container>
                            <ng-container
                                *ngIf="formGroup.get('contactNumber')?.hasError('pattern')"
                            >
                                联系方式格式不正确
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzSpan="4">业务附件</nz-form-label>
                <div nz-col nzSpan="20">
                    <nz-upload
                        nzAction="api/gl-file-service/attachment/upload"
                        [nzLimit]="5"
                        [nzFileList]="uploadIfy.list"
                        [nzCustomRequest]="uploadIfy.fileCustomRequest"
                        [nzRemove]="uploadIfy.fileRemove"
                        [nzShowButton]="isUsable"
                        [nzDisabled]="!isUsable"
                        [nzPreview]="uploadIfy.preview"
                    >
                        <button nz-button>
                            <span><i nz-icon nzType="upload"></i>上传附件</span>
                        </button>
                    </nz-upload>
                </div>
            </nz-form-item>
        </div>
    </form>
</ng-template>

<!-- 小步骤：第一步内容模板 -->
<ng-template #operBaseInfoTemplate>
    <div class="view oper_base">
        <div class="oper_base_info">
            <ng-template
                [ngTemplateOutlet]="operBaseInfoEditor"
                [ngTemplateOutletContext]="{
                    formGroup: operBaseInfoIfy.form,
                    uploadIfy: operBaseInfoIfy.uploadIfy
                }"
            >
            </ng-template>

            <div nz-row class="oper_handle">
                <div nz-col nzSpan="16" nzOffset="4" *ngIf="isUsable">
                    <!-- 业务存在就保存，不存在就发起 -->
                    <button
                        nz-button
                        *ngIf="!URLParams?.jobId"
                        nzType="primary"
                        [nzLoading]="operBaseInfoIfy.loading"
                        (click)="operBaseInfoIfy.evtOperStart()"
                    >
                        发起业务
                    </button>
                    <ng-container *ngIf="URLParams?.jobId">
                        <button
                            nz-button
                            nzType="primary"
                            [nzLoading]="operBaseInfoIfy.loading"
                            (click)="operBaseInfoIfy.evtOperStart(true)"
                        >
                            保存
                        </button>

                        <button
                            nz-button
                            nzType="default"
                            [nzLoading]="operBaseInfoIfy.loading"
                            (click)="operBaseInfoIfy.evtCancelSubmit()"
                        >
                            撤销业务
                        </button>
                    </ng-container>
                </div>
                <div nz-col nzSpan="16" nzOffset="4" *ngIf="!isUsable && !URLParams.isFinished">
                    <button
                        nz-button
                        nzType="default"
                        [nzLoading]="operBaseInfoIfy.loading"
                        (click)="operBaseInfoIfy.evtCancelSubmit()"
                    >
                        撤销申报
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<!-- 在线预览附件 -->
<gl-online-doc
    #onlineDocOverlayElement
    [fileList]="operBaseInfoIfy.uploadIfy.list"
    [selectedIndex]="operBaseInfoIfy.uploadIfy.selectedIndex"
></gl-online-doc>

<!-- 小步骤：第二步内容模板 -->
<ng-template #operPersonTemplate>
    <div class="layout oper_direction">
        <div class="container">
            <div class="view">
                <tibet-annual-assess-table [jobStepInfo]="jobStepInfo"></tibet-annual-assess-table>
            </div>
        </div>
    </div>
</ng-template>

<!-- 小步骤：第三步预览信息 -->
<ng-template #operViewTemplate>
    <div class="view" *ngIf="transactionStepsIfy.current === 2">
        <tibet-annual-assess-list [jobStepInfo]="jobStepInfo"></tibet-annual-assess-list>
    </div>
</ng-template>

<!-- 上报业务，选择单位 -->
<nz-drawer
    [nzVisible]="setAuditUnitIfy.visible"
    [nzTitle]="setAuditUnitIfy.title"
    [nzWidth]="setAuditUnitIfy.width"
    (nzOnClose)="setAuditUnitIfy.close()"
>
    <div class="drawer_area select_audit_unit">
        <!-- <div class="header">
            <nz-select
                [ngStyle]="{ 'width.px': setAuditUnitIfy.find.searchWidth || 160 }"
                nzShowSearch
                nzServerSearch
                nzAllowClear
                [nzPlaceHolder]="setAuditUnitIfy.find.placeholder || '请输入关键字搜索'"
                [nzShowArrow]="false"
                [nzFilterOption]="setAuditUnitIfy.find.nzFilterOption"
                [(ngModel)]="setAuditUnitIfy.find.searchKey"
                (ngModelChange)="setAuditUnitIfy.find.evtModelChange($event)"
                (nzOnSearch)="setAuditUnitIfy.find.evtSearch($event)"
                (nzFocus)="setAuditUnitIfy.find.evtFocus()"
            >
                <ng-container *ngFor="let item of setAuditUnitIfy.find.list">
                    <nz-option [nzLabel]="item.text" [nzValue]="item.value"> </nz-option>
                </ng-container>
            </nz-select>
        </div> -->
        <div class="container">
            <div class="other_list">
                <ng-container *ngFor="let item of setAuditUnitIfy.list; let i = index">
                    <div
                        class="item"
                        [class.active]="i === setAuditUnitIfy.selectIndex"
                        (click)="setAuditUnitIfy.evtSelectUnit(i)"
                    >
                        <div class="title">{{ item.ORG_NAME }}</div>
                        <div class="icon" *ngIf="i === setAuditUnitIfy.selectIndex">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="footer">
            <button
                nz-button
                nzType="primary"
                [nzLoading]="setAuditUnitIfy.subLoading"
                [disabled]="!wfInfo?.reportingGroup || setAuditUnitIfy.selectIndex === -1"
                (click)="setAuditUnitIfy.evtSubmit()"
            >
                上报业务
            </button>
        </div>
    </div>
</nz-drawer>
