@import "src/app/styles/layout";
@import "src/app/styles/drawer";

:host ::ng-deep {
    .ant-table {
        .col_width_format {
            visibility: collapse;
        }
        .ant-table-tbody {
            tr {
                td {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

:host ::ng-deep {
    .ant-table {
        th,
        td {
            padding: 8px 0px !important;
        }
        td.edit {
            position: relative;
            width: 100px;
            input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                margin: auto;
                border: none;
            }
        }
    }
}
