@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

.tbl {
    padding: 10px;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.drawer_area {
    .edit_all {
        padding: 0;
        padding-top: 1px;

        .layout {
            .left {
                width: 220px;
            }
            .view_scroll {
                padding: 10px 20px;

                .edit_all_item {
                    height: 30px;
                    line-height: 30px;
                    padding: 0 10px;

                    &.active {
                        background-color: #e6ffea;
                    }
                }
            }
        }
    }
}
.oper_step_flow {
    height: 120px;
    padding: 40px 10px 0 10px;
    margin: 20px;

    background-color: #f0f8ff;
    border: 1px solid #cce8ff;
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
}

:host ::ng-deep {
    .ant-table {
        .col_width_format {
            visibility: collapse;
        }

        tr.odd {
            td {
                background-color: #fafafa;
            }
        }
        tr:hover {
            td:not(.edit) {
                background: #fff;
            }
        }
        tr.odd:hover {
            td {
                background-color: #fafafa;
            }
        }
        td.edit {
            background-color: #f0f3ff !important;
            cursor: pointer;
        }
        tr.changeed {
            td {
                font-weight: bold;
            }
        }
    }
}

tr.change {
    font-weight: bold;
    color: #000;
}

.display_inlb {
    display: inline-block;
}

.audit_list {
    $item-height: 40px;

    width: 100%;

    .item {
        height: $item-height;
        line-height: $item-height;
        border-bottom: 1px solid #eee;

        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: $item-height;
        }
        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .icon {
            width: 30px;
            padding: 0 10px;

            & .fa {
                margin-right: 5px;
            }

            & .fa.error {
                color: #ff4d4f;
            }

            & .fa.succeed {
                color: #52c41a;
            }

            & .fa.stateless {
                color: #1890ff;
            }
        }

        & > .title {
            flex: 1;
            cursor: pointer;
            padding: 0 10px;
            height: $item-height;
        }

        & > .btns {
            .btn {
                padding: 0 10px;
                // border-left: 1px solid #eee;
                color: #40a9ff;
                cursor: pointer;
            }
        }
    }

    .delete_icon {
        float: right;
        margin-top: 13px;
    }
}

.select_job {
    width: 400px;
}

.left_width {
    width: 250px !important;
}

.mr20 {
    margin-right: 20px;
}

.table_top {
    margin-top: 10px;
}

.difference {
    float: right;
    color: #4bb317;

    &.event {
        color: #1890ff;
        padding: 0 8px;
    }
}
@media screen and (max-width: 1280px) {
    .form_list_tab {
        width: 600px;
    }
}
