/*导入布局样式*/
@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

.report_reverse_query {
    .header {
        .title {
            font-size: 18px;
            font-weight: 500;
            padding-left: 20px;
            position: relative;

            &:before {
                content: '';
                width: 5px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 5px;
                bottom: 5px;
                margin: -1px auto;
                background-color: #1890ff;
            }
        }
    }

    .right {
        .tbl {
            padding: 10px;
        }
    }
}
