<nz-drawer
    [nzClosable]="false"
    [nzVisible]="personCheck.visible"
    [nzWidth]="600"
    nzPlacement="right"
    nzTitle="人员信息错误列表"
    (nzOnClose)="personCheck.close()"
>
    <div class="drawer_area">
        <div class="container">
            <nz-table
                #middleTable
                nzSize="small"
                [nzData]="personCheck.checkData"
                [nzBordered]="true"
            >
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>身份证</th>
                        <th [hidden]="!isAllCheck">提示条数</th>
                        <th>提示信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of middleTable.data">
                        <td [rowSpan]="isAllCheck ? data.rowSpan : 1" *ngIf="!data.isHide">
                            {{ data.name }}
                        </td>
                        <td [rowSpan]="isAllCheck ? data.rowSpan : 1" *ngIf="!data.isHide">
                            {{ data.A0184 }}
                        </td>
                        <td
                            [hidden]="!isAllCheck"
                            [rowSpan]="isAllCheck ? data.rowSpan : 1"
                            *ngIf="!data.isHide"
                        >
                            {{ data.count }}
                        </td>
                        <td>{{ data.checkContent }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="footer">
            <button nz-button nzType="default" (click)="personCheck.close()">关闭</button>
        </div>
    </div>
</nz-drawer>
