<div class="layout report_common">
    <div class="header">
        <span class="title">{{ getChildName() }}</span>
        <div class="right_handle">
            <a nz-tooltip nzTooltipTitle="点击切换单位查看" (click)="switchUnit()">{{
                getTitle()
            }}</a>
        </div>
    </div>
    <div class="container">
        <div class="left child_list" [class.hide]="headHandleIfy.isHide">
            <div class="switch" (click)="headHandleIfy.switch()">||</div>
            <div class="handle">
                <nz-select
                    nzAllowClear
                    nzShowSearch
                    nzServerSearch
                    [ngStyle]="{ 'width.px': 280 }"
                    [nzShowArrow]="false"
                    nzPlaceHolder="输入查询关键字"
                    [(ngModel)]="subListIfy.find.keyword"
                    (nzOnSearch)="subListIfy.find.evtOnSearch($event)"
                    (ngModelChange)="subListIfy.find.evtChange($event)"
                >
                    <ng-container *ngFor="let item of subListIfy.find.list">
                        <nz-option
                            [nzValue]="item.childId"
                            nzLabel="{{ item.childId }}表-{{ item.childName }}"
                        ></nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div class="tree">
                <div class="sublist">
                    <ng-container *ngFor="let item of subListIfy.list">
                        <div
                            class="item"
                            [title]="item.childName"
                            [class.active]="item.childId === subListIfy.selectedChild?.childId"
                            (click)="subListIfy.evtSelected(item)"
                        >
                            <i *ngIf="item.verify" class="fa fa-check-circle succeed"></i>
                            <i *ngIf="!item.verify" class="fa fa-times-circle error"></i>
                            {{ item.childId }}表-{{ item.childName }}
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="layout excel_show">
                <div class="header">
                    <nz-button-group *ngIf="isEdit">
                        <button nz-button nzType="primary" (click)="headHandleIfy.evtSaveAllData()">
                            保存数据
                        </button>

                        <!-- <button
                            nz-button
                            nzType="default"
                            [nzLoading]="headHandleIfy.rebuildLonding"
                            (click)="headHandleIfy.evtRebuild()"
                        >
                            重新生成
                        </button> -->
                        <button nz-button nzType="default" (click)="headHandleIfy.evtVerify()">
                            报表校验
                        </button>
                    </nz-button-group>
                    <nz-button-group>
                        <button nz-button nzType="default" (click)="headHandleIfy.evtSort()">
                            调整顺序
                        </button>
                    </nz-button-group>
                    <nz-button-group>
                        <button
                            nz-button
                            nzType="default"
                            [disabled]="headHandleIfy.evtReverseQueryDisabled()"
                            (click)="headHandleIfy.evtReverseQuery()"
                        >
                            反查
                        </button>
                    </nz-button-group>
                    <!-- 
                    <nz-dropdown *ngIf="isEdit">
                        <button nz-button nz-dropdown>清空数据<i nz-icon type="down"></i></button>
                        <ul nz-menu>
                            <li nz-menu-item (click)="headHandleIfy.clearAllData()">
                                清空所有数据
                            </li>
                            <li nz-menu-item (click)="headHandleIfy.clearAreaData()">
                                清空选中区域数据
                            </li>
                        </ul>
                    </nz-dropdown> -->

                    <!-- 这里这个状态对应 src\app\client\report\produce\produce.component.ts 行：562  this.reportStatusIfy.list-->
                    <nz-button-group
                        *ngIf="
                            URLParams.status === reportAuditStatusEnum.WAIT ||
                            URLParams.status === reportAuditStatusEnum.FINISH
                        "
                    >
                        <button nz-button nzType="default" (click)="headHandleIfy.evtAudit()">
                            审批
                        </button>
                    </nz-button-group>

                    <button nz-button nz-dropdown [nzDropdownMenu]="downExcel">
                        <i nz-icon nzType="download" nzTheme="outline"></i>
                        输出
                        <i nz-icon nzType="down"></i>
                    </button>
                    <nz-dropdown-menu #downExcel="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item (click)="headHandleIfy.downChild()">当前表</li>
                            <li nz-menu-item (click)="headHandleIfy.downAll()">所有表</li>
                        </ul>
                    </nz-dropdown-menu>

                    <div class="right_handle">
                        <nz-button-group>
                            <button nz-button (click)="subListIfy.evtUpDownExcel(-1)">
                                <i nz-icon nzType="up"></i>上一表
                            </button>
                            <button nz-button (click)="subListIfy.evtUpDownExcel(1)">
                                下一表<i nz-icon nzType="down"></i>
                            </button>
                        </nz-button-group>
                    </div>
                </div>

                <div class="container">
                    <div class="sublist_exhibition" #sublistAreaElement>
                        <ng-container *ngFor="let item of subListIfy.list">
                            <div
                                #excelmultiMains
                                [style.marginTop.px]="-item.selectallStyle?.height"
                                [style.marginLeft.px]="-item.selectallStyle?.width"
                                [hidden]="item.childId !== subListIfy.selectedChild?.childId"
                            ></div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nz-drawer
    [nzVisible]="reportAuditIfy.visible"
    [nzWidth]="reportAuditIfy.width"
    [nzTitle]="reportAuditIfy.title"
    (nzOnClose)="reportAuditIfy.close()"
>
    <div class="drawer_area">
        <div class="container">
            <form nz-form [formGroup]="reportAuditIfy.form">
                <nz-form-item>
                    <nz-form-control nzHasFeedback>
                        <nz-radio-group formControlName="auditStatus">
                            <label nz-radio [nzValue]="true">通过</label>
                            <label nz-radio [nzValue]="false">不通过</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>备注</nz-form-label>
                    <nz-form-control nzHasFeedback>
                        <textarea rows="4" nz-input formControlName="auditContent"></textarea>
                        <nz-form-explain
                            *ngIf="
                                reportAuditIfy.form.get('auditContent')?.dirty &&
                                reportAuditIfy.form.get('auditContent')?.errors
                            "
                            >请填写审批原因!</nz-form-explain
                        >
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
        <div class="footer">
            <button
                nz-button
                nzType="primary"
                (click)="reportAuditIfy.evtSave()"
                [nzLoading]="reportAuditIfy.loading"
            >
                保存
            </button>
        </div>
    </div>
</nz-drawer>

<!-- 切换单位 -->
<nz-drawer
    [nzVisible]="reportUnitIfy.visible"
    [nzWidth]="reportUnitIfy.width"
    [nzTitle]="reportUnitIfy.title"
    (nzOnClose)="reportUnitIfy.close()"
>
    <div class="drawer_area">
        <div class="container">
            <div class="other_list">
                <ng-container *ngFor="let item of reportUnitIfy.list; let i = index">
                    <div
                        class="item"
                        [class.active]="reportUnitIfy.selectedIndex === i"
                        (click)="reportUnitIfy.evtSelectUnit(i)"
                    >
                        <div class="title">{{ item.reportName }}</div>
                        <div class="icon" *ngIf="item.selected">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="reportUnitIfy.switch()">切换</button>
        </div>
    </div>
</nz-drawer>

<!-- 调整子表顺序 -->
<nz-drawer
    [nzVisible]="reportChildSortIfy.visible"
    [nzWidth]="reportChildSortIfy.width"
    [nzTitle]="reportChildSortIfy.title"
    (nzOnClose)="reportChildSortIfy.close()"
>
    <div class="drawer_area">
        <div class="container">
            <div class="view_scroll">
                <div
                    cdkDropList
                    class="drag-list"
                    (cdkDropListDropped)="reportChildSortIfy.evtDrop($event)"
                >
                    <ng-container *ngFor="let item of subListIfy.list; let i = index">
                        <div
                            class="drag-item selected_item"
                            [class.active]="
                                reportChildSortIfy.selectedItem?.childId === item.childId
                            "
                            cdkDragLockAxis="y"
                            cdkDrag
                            (click)="reportChildSortIfy.evtSelected(item)"
                        >
                            {{ item.childId }}表-{{ item.childName }}

                            <div class="drag-handle" cdkDragHandle>
                                <i class="fa fa-arrows" aria-hidden="true"></i>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</nz-drawer>
