/*导入布局样式*/
@import "src/app/styles/layout";
@import "src/app/styles/drawer";

$header-height: 70px;
$footer-height: 50px;

.other_list {
    border: 1px solid #f0f0f0;
    $other-height: 30px;

    .item {
        height: $other-height;
        line-height: $other-height;
        border-bottom: 1px solid #f0f0f0;

        display: flex;
        align-items: center;

        &:last-child {
            border: none;
        }

        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;
            color: #1890ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .title {
            padding-left: 10px;
            flex: 1;
            cursor: pointer;
        }

        & > .icon {
            width: 30px;
            padding: 0 10px;
        }
    }
}

.foot_options {
    button {
        margin-right: 10px;
    }
}
