<div class="layout">
    <div class="header oper_status_tabs">
        <nz-tabset
            nzType="card"
            [nzTabBarStyle]="{ 'marginTop.px': 10 }"
            (nzSelectChange)="operStatusTabsIfy.selectChange($event)"
            [(nzSelectedIndex)]="operStatusTabsIfy.selectedIndex"
            [nzTabBarExtraContent]="extraTemplate"
        >
            <ng-container *ngFor="let item of operStatusTabsIfy.list; let i = index">
                <nz-tab [nzTitle]="titleTemplate">
                    <ng-template #titleTemplate>
                        <div>
                            {{ item.text }}
                            <ng-container *ngIf="item.tag">
                                <i
                                    nz-icon
                                    nzType="close"
                                    class="ant-tabs-close-x"
                                    (click)="operStatusTabsIfy.closeTab(i)"
                                ></i>
                            </ng-container>
                        </div>
                    </ng-template>
                </nz-tab>
            </ng-container>
        </nz-tabset>
        <ng-template #extraTemplate>
            <nz-input-group
                nzSearch
                [ngStyle]="{ 'width.px': operSearchify.width }"
                [nzAddOnAfter]="suffixIconButton"
            >
                <input
                    type="text"
                    nz-input
                    placeholder="输入业务标题单位名称搜索"
                    [(ngModel)]="operSearchify.value"
                    (keydown)="operSearchify.keydown($event)"
                />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch (click)="operSearchify.evtSearch()">
                    <i nz-icon nzType="search"></i>
                </button>
            </ng-template>
        </ng-template>
    </div>

    <div class="container">
        <div class="view_scroll">
            <nz-table
                #basicTable
                nzShowSizeChanger
                nzBordered
                nzSize="small"
                [nzFrontPagination]="false"
                [nzTotal]="operTable.totalCount"
                [(nzPageSize)]="operTable.pageSize"
                [(nzPageIndex)]="operTable.pageIndex"
                [nzPageSizeOptions]="[5, 10, 20, 50]"
                [nzData]="operTable.data"
                (nzPageIndexChange)="loadOperTable()"
                (nzPageSizeChange)="loadOperTable(true)"
            >
                <thead>
                    <tr>
                        <th>业务状态</th>
                        <th>业务名称</th>
                        <th>发起单位</th>
                        <th>业务标题</th>
                        <th nzAlign="center">发起时间</th>
                        <th nzAlign="center">业务附件</th>
                        <th nzAlign="center">业务步骤</th>
                        <th nzAlign="center">业务跟踪</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>
                            {{
                                operStatusTabsIfy.selectedIndex === 2 ||
                                operStatusTabsIfy.selectedIndex === 3
                                    ? jobMainStateList[data.jobMainState].text
                                    : jobStepStateList[data.jobStepState].text
                            }}
                        </td>
                        <td>{{ data.wfName }}</td>
                        <td>{{ data.startOrgName }}</td>
                        <td>
                            <a (click)="operProcess(data)">{{ data.title }}</a>
                        </td>
                        <td nzAlign="center">{{ data.startTime | date: 'yyyy-MM-dd' }}</td>
                        <td nzAlign="center">
                            <a (click)="operAnnexIfy.open(data)">查看</a>
                        </td>
                        <td nzAlign="center">
                            <a
                                *ngIf="data.wfId === 'open_exam'; else backDropOver"
                                (click)="workFlowChart(data)"
                                >{{ data.stepName }}</a
                            >
                            <ng-template #backDropOver>
                                <a (click)="workFlowChart(data)">{{ data.lastStepName }}</a>
                            </ng-template>
                        </td>
                        <td nzAlign="center"><a (click)="jobFollowing(data)">查看</a></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>

<!-- 业务跟踪 -->
<nz-drawer
    [nzClosable]="true"
    [nzWidth]="tailAfterOper.width"
    [nzVisible]="tailAfterOper.visible"
    nzPlacement="right"
    [nzTitle]="tailAfterOper.title"
    (nzOnClose)="tailAfterOper.close()"
>
    <div class="drawer_area">
        <div class="container">
            <nz-timeline>
                <nz-timeline-item [nzDot]="dotTemplate"><span>业务开始</span></nz-timeline-item>
                <ng-container *ngFor="let item of tailAfterList$; let i = index">
                    <nz-timeline-item [nzColor]="['red', 'blue', 'green'][i % 3]">
                        <p>
                            <!-- <a (click)="viewHistory(item)">{{ item.stateDesc }}</a> -->
                            <a>{{ item.stateDesc }}</a>
                            {{ item.auditDate | date: 'yyyy-MM-dd HH:mm' }}
                        </p>
                        <p>
                            <b
                                ><span>{{ item.contacts }}</span></b
                            ><span> {{ item.orgName }} {{ item.contactNumber }}</span>
                        </p>
                        <p *ngIf="item.auditStateDesc">批复结果： {{ item.auditStateDesc }}</p>
                    </nz-timeline-item>
                </ng-container>
            </nz-timeline>
            <ng-template #dotTemplate>
                <i nz-icon type="clock-circle-o" style="font-size: 16px"></i>
            </ng-template>
        </div>
    </div>
</nz-drawer>

<!-- 流程图 -->
<nz-drawer
    [nzClosable]="true"
    [nzVisible]="workFlowChartParam.visible"
    nzPlacement="top"
    nzTitle="流程图"
    (nzOnClose)="drawerClose()"
>
    <div style="margin-top: 20px">
        <nz-steps [nzCurrent]="workFlowChartParam.currentStep" nzProgressDot>
            <nz-step
                *ngFor="let item of workFlowChartParam.operStepList"
                [nzTitle]="item.stepName"
                [nzDescription]="item['desc']"
            >
            </nz-step>
        </nz-steps>
    </div>
</nz-drawer>

<!-- 业务附件 -->
<nz-drawer
    nzPlacement="right"
    [nzVisible]="operAnnexIfy.visible"
    [nzWidth]="operAnnexIfy.width"
    [nzTitle]="operAnnexIfy.title"
    (nzOnClose)="operAnnexIfy.close()"
>
    <div class="drawer_area">
        <div class="container">
            <nz-upload
                class="upload-list-inline"
                nzMultiple
                nzListType="picture"
                [nzShowButton]="false"
                [nzShowUploadList]="{ showRemoveIcon: false }"
                [(nzFileList)]="operAnnexIfy.fileList"
                [nzPreview]="operAnnexIfy.preview"
            >
            </nz-upload>
        </div>
    </div>
</nz-drawer>

<!-- 在线预览附件 -->
<gl-online-doc
    #onlineDocOverlayElement
    [fileList]="operAnnexIfy.fileList"
    [selectedIndex]="operAnnexIfy.selectedIndex"
></gl-online-doc>
