<nz-drawer
    [nzVisible]="checkDra.visible"
    [nzTitle]="checkDra.title"
    [nzWidth]="checkDra.width"
    (nzOnClose)="checkDra.close()"
    [nzOffsetX]="switchUnitDra.visible ? 100 : 0"
>
    <div class="drawer_area">
        <div class="header">
            <button nz-button nzType="primary" (click)="switchUnitDra.open()">切换单位</button>
            <span class="label-item">当前单位: {{ node?.title }}</span>
            <label class="include-not-working" nz-checkbox [(ngModel)]="isInclude" (ngModelChange)="isIncludeChange()">是否包含非在职库</label>
        </div>
        <div class="header">
            <nz-tabset
                [nzSelectedIndex]="tabIfy.index"
                (nzSelectedIndexChange)="tabIfy.evtChange($event)"
                [nzTabBarStyle]="{ 'margin.px': 0, 'height.px': 50 }"
            >
                <nz-tab [nzTitle]="item.title" *ngFor="let item of tabIfy.list"> </nz-tab>
            </nz-tabset>
        </div>
        <div class="container">
            <div
                class="view"
                *ngFor="let item of tabIfy.list; let i = index"
                [hidden]="i !== tabIfy.index"
            >
                <ng-template [ngTemplateOutlet]="item.temp"></ng-template>
            </div>
        </div>
        <div class="footer">
            <nz-button-group>
                <button nz-button nzType="primary" (click)="checkDra.startCheck()">开始校验</button>
                <button nz-button (click)="checkDra.close()">取消</button>
            </nz-button-group>
        </div>
    </div>
</nz-drawer>

<!-- 切换单位 -->
<nz-drawer
    [nzVisible]="switchUnitDra.visible"
    [nzTitle]="switchUnitDra.title"
    [nzWidth]="switchUnitDra.width"
    (nzOnClose)="switchUnitDra.close()"
>
    <div class="drawer_area">
        <div class="header">
            <nz-select
                nzAllowClear
                nzShowSearch
                nzServerSearch
                [nzShowArrow]="false"
                nzPlaceHolder="输入搜索关键字"
                [(ngModel)]="treeIfy.find.value"
                (nzOnSearch)="treeIfy.find.evtOnSearch($event)"
                (ngModelChange)="treeIfy.find.evtChange($event)"
                [style.width.%]="100"
            >
                <ng-container *ngFor="let item of treeIfy.find.list">
                    <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
                </ng-container>
            </nz-select>
        </div>
        <div class="container">
            <cdk-virtual-scroll-viewport #scrollViewport [itemSize]="32" class="view_scroll">
                <nz-tree
                    #orgUnitElement
                    nzAsyncData
                    [nzData]="treeIfy.nodes"
                    [nzTreeTemplate]="nodeView"
                    (nzClick)="treeIfy.evtActiveNode($event)"
                    (nzExpandChange)="treeIfy.evtChangeNode($event)"
                >
                    <ng-template #nodeView let-node>
                        <span
                            class="custom-node"
                            [class.active]="treeIfy.activeNode?.key === node.key"
                        >
                            <i
                                class="fa fa-{{ treeIfy.nodeIcon[node.origin?.nodeType] }}"
                                aria-hidden="true"
                            ></i>
                            <span class="node-text" [attr.title]="node.title">{{
                                node.title
                            }}</span>
                        </span>
                    </ng-template>
                </nz-tree>
            </cdk-virtual-scroll-viewport>
        </div>
        <div class="footer">
            <nz-button-group>
                <button nz-button nzType="primary" (click)="switchUnitDra.enter()">确定</button>
                <button nz-button (click)="switchUnitDra.close()">取消</button>
            </nz-button-group>
        </div>
    </div>
</nz-drawer>

<!-- 校验公式 -->
<ng-template #checkFormula>
    <nz-table
        #formulaTable
        nzBordered="true"
        nzSize="small"
        [nzData]="formulaTbl.rows"
        [(nzPageIndex)]="formulaTbl.pageIndex"
        [(nzPageSize)]="formulaTbl.pageSize"
        [nzLoading]="formulaTbl.loading"
    >
        <thead>
            <tr>
                <th>信息集</th>
                <th>信息项</th>
                <th>校验类型</th>
                <th>校验说明</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of formulaTable.data">
                <td>{{ item.tableName }}</td>
                <td>{{ item.itemName }}</td>
                <td>{{ item.checkType }}</td>
                <td>{{ item.checkExplain }}</td>
            </tr>
        </tbody>
    </nz-table>
</ng-template>

<!-- 校验结果 -->
<ng-template #checkResults>
    <nz-table
        #ResultsTable
        nzBordered="true"
        nzSize="small"
        [nzData]="resultTbl.rows"
        [(nzPageIndex)]="resultTbl.pageIndex"
        [(nzPageSize)]="resultTbl.pageSize"
        [nzLoading]="resultTbl.loading"
    >
        <thead>
            <tr>
                <th nzWidth="100px">机构名称</th>
                <th nzWidth="100px">提示条数</th>
                <th nzWidth="500px">提示信息</th>
                <!-- <th nzWidth="100px">操作</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ResultsTable.data">
                <td *ngIf="!data.isHide" [rowSpan]="data.rowSpan">
                    {{ data.keyName }}
                </td>
                <td *ngIf="!data.isHide" [rowSpan]="data.rowSpan">
                    {{ data.rowSpan }}
                </td>
                <td>{{ data.result }}</td>
                <!-- <td *ngIf="!data.isHide" [rowSpan]="data.rowSpan">
                    <a (click)="viewDetails(data.personId)">修改</a>
                </td> -->
            </tr>
        </tbody>
    </nz-table>
</ng-template>
