<!-- 人员顺序调整 -->
<nz-drawer
    [nzVisible]="personOrderAdjustIfy.visible"
    nzPlacement="right"
    [nzTitle]="personOrderAdjustIfy.title"
    [nzWidth]="personOrderAdjustIfy.width"
    (nzOnClose)="personOrderAdjustIfy.close()"
>
    <div class="drawer_area">
        <div class="header">
            <nz-select
                [ngStyle]="{ 'width.px': personOrderAdjustIfy.find.searchWidth || 260 }"
                nzShowSearch
                nzServerSearch
                [nzPlaceHolder]="personOrderAdjustIfy.find.placeholder || '请输入关键字搜索'"
                [nzShowArrow]="false"
                [nzFilterOption]="personOrderAdjustIfy.find.nzFilterOption"
                [(ngModel)]="personOrderAdjustIfy.find.searchKey"
                (ngModelChange)="personOrderAdjustIfy.find.evtChange($event)"
                (nzOnSearch)="personOrderAdjustIfy.find.evtSearch($event)"
            >
                <ng-container *ngFor="let item of personOrderAdjustIfy.find.searchList">
                    <nz-option [nzLabel]="item.text" [nzValue]="item.value"> </nz-option>
                </ng-container>
            </nz-select>

            <div class="right">
                <nz-button-group>
                    <button
                        nz-button
                        nzType="primary"
                        [disabled]="personOrderAdjustIfy.personList.selectedIndex === -1"
                        [nzLoading]="personOrderAdjustIfy.handle.btnLoading"
                        (click)="personOrderAdjustIfy.handle.evtMove(0)"
                    >
                        <i nz-icon nzType="up"></i>上移
                    </button>
                    <button
                        nz-button
                        nzType="primary"
                        [disabled]="personOrderAdjustIfy.personList.selectedIndex === -1"
                        [nzLoading]="personOrderAdjustIfy.handle.btnLoading"
                        (click)="personOrderAdjustIfy.handle.evtMove(1)"
                    >
                        <i nz-icon nzType="down"></i>下移
                    </button>
                    <button
                        nz-button
                        nzType="primary"
                        [disabled]="personOrderAdjustIfy.personList.selectedIndex === -1"
                        [nzLoading]="personOrderAdjustIfy.handle.btnLoading"
                        nz-popover
                        nzPlacement="bottomRight"
                        nzTrigger="click"
                        nzTitle="移动位置"
                        [nzPopoverContent]="contentTemplate"
                        [(nzPopoverVisible)]="personOrderAdjustIfy.handle.visible"
                        (nzVisibleChange)="personOrderAdjustIfy.handle.evtVisibleChange()"
                    >
                        <i nz-icon nzType="swap"></i>移动到
                    </button>
                    <ng-template #contentTemplate>
                        <div class="popconfirm_content">
                            <p>
                                移动到第<input
                                    [style.width.px]="100"
                                    nz-input
                                    placeholder="输入位置"
                                    [(ngModel)]="personOrderAdjustIfy.location"
                                />位
                            </p>
                            <nz-button-group>
                                <button
                                    nz-button
                                    nzType="primary"
                                    nzSize="small"
                                    [disabled]="!personOrderAdjustIfy.location"
                                    (click)="personOrderAdjustIfy.handle.evtAffirm()"
                                >
                                    确认
                                </button>
                                <button
                                    nz-button
                                    nzType="default"
                                    nzSize="small"
                                    (click)="personOrderAdjustIfy.handle.visible = false"
                                >
                                    取消
                                </button>
                            </nz-button-group>
                        </div>
                    </ng-template>
                </nz-button-group>
            </div>
        </div>
        <div class="container adjust_container">
            <cdk-virtual-scroll-viewport #scrollOrderAdjust [itemSize]="30" class="view">
                <div class="theader">
                    <div class="tcol">序号</div>
                    <div class="tcol">姓名</div>
                    <div class="tcol">身份证</div>
                </div>
                <div class="tbody">
                    <ng-container
                        *ngFor="let item of personOrderAdjustIfy.personList.data; let i = index"
                    >
                        <div
                            class="row"
                            [class.active]="personOrderAdjustIfy.personList.selectedIndex === i"
                            (click)="personOrderAdjustIfy.personList.evtSelector(i)"
                        >
                            <div class="tcol">{{ i + 1 }}</div>
                            <div class="tcol">{{ item?.A0101 }}</div>
                            <div class="tcol">{{ item?.A0184 }}</div>
                        </div>
                    </ng-container>
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</nz-drawer>
