<!-- 选择单位抽屉 -->
<nz-drawer
    nzPlacement="right"
    [nzVisible]="unitSelectedLevelIfy.visible"
    [nzWidth]="unitSelectedLevelIfy.width"
    [nzTitle]="unitSelectedLevelIfy.title"
    (nzOnClose)="unitSelectedLevelIfy.close()"
>
    <div class="drawer_area">
        <div class="container">
            <select-unit-level #selectUnitLevelElement></select-unit-level>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="evtAffirm()">确认选择</button>
        </div>
    </div>
</nz-drawer>
