<div class="layout">
    <div class="doc_btn">
        <nz-button-group>
            <ng-container *ngFor="let item of operationBtnGroup">
                <button nz-button nzType="primary" nzSize="large" (click)="evtConentOption(item)">
                    <i class="fa fa-{{ item.icon }}" aria-hidden="true"></i>
                    {{ item.text }}
                </button>
            </ng-container>
        </nz-button-group>
    </div>

    <div class="document-content position_0">
        <div class="msg">
            <nz-alert
                nzShowIcon
                nzType="info"
                nzMessage="温馨提示: 选中文章内容后单击鼠标右键可以对内容进行“纠错”和“标记”操作。"
            ></nz-alert>
        </div>

        <div class="title">
            <h1>{{ policyInfoData?.title }}</h1>
            <h3>{{ policyInfoData?.documentNumber }}</h3>
            <h5>编辑时间：{{ policyInfoData?.addTime | date: 'yyyy-MM-dd' }}</h5>
        </div>
        <div class="file">
            <span>相关附件：</span>
            <nz-upload
                class="upload-readline"
                nzAction="api/gl-file-service/attachment/upload"
                nzShowUploadList="false"
                [nzFileList]="policyInfoData?.fileList"
            >
            </nz-upload>
        </div>
        <main
            class="doc"
            [ngClass]="{ other: !notesify.nodes || notesify.nodes.length === 0 }"
            #documentRef
            (contextmenu)="evtContextmenu($event, template)"
            [innerHTML]="policyInfoData?.contentHTML"
        ></main>
        <nz-dropdown-menu #template="nzDropdownMenu">
            <div
                (nzClick)="closeSignMenu($event)"
                class="signmenu"
                (contextmenu)="evtContextmenuTemp($event)"
            >
                <div class="btns">
                    <div (click)="evtCorrectiveFeedback()">
                        <i class="fa fa-comments-o"></i><span>纠错反馈</span>
                    </div>
                    <div (click)="evtSignSelectorText()">
                        <i class="fa fa-edit"></i><span>标记</span>
                    </div>
                </div>
            </div>
        </nz-dropdown-menu>
        <!-- <ng-template #template>
            <div
                (nzClick)="closeSignMenu($event)"
                class="signmenu"
                (contextmenu)="evtContextmenuTemp($event)"
            >
                <div class="btns">
                    <div (click)="evtCorrectiveFeedback()">
                        <i class="fa fa-comments-o"></i><span>纠错反馈</span>
                    </div>
                    <div (click)="evtSignSelectorText()">
                        <i class="fa fa-edit"></i><span>标记</span>
                    </div>
                </div>
            </div>
        </ng-template> -->

        <div class="menu" *ngIf="notesify.nodes && notesify.nodes.length > 0">
            <nz-tree
                #notesTreeElement
                [nzData]="notesify.nodes"
                [nzTreeTemplate]="nzTreeTemplate"
                (nzClick)="notesify.evtActiveNode($event)"
                (nzExpandChange)="notesify.evtExpandChange($event)"
            >
                <ng-template #nzTreeTemplate let-node>
                    <span
                        class="custom-node"
                        [class.active]="notesify.activedNode?.key === node.key"
                    >
                        <i
                            class="fa fa-{{
                                notesify.icons[node.origin?.nodeType] || notesify.icons[0]
                            }}"
                            aria-hidden="true"
                        ></i>
                        <span class="node-text" [attr.title]="node.title">{{ node.title }}</span>
                    </span>
                </ng-template>
            </nz-tree>
        </div>
    </div>
</div>

<!-- 纠错信息字段 -->
<ng-template #recoveryErrorTemp let-formGroup="formGroup" let-signText="signText">
    <form nz-form [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label>标记内容</nz-form-label>
            <nz-form-control>
                <div class="tag_context">{{ signText }}</div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>反馈类型</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <nz-select nzShowSearch formControlName="type" nzPlaceHolder="请选择反馈类型">
                    <ng-container *ngFor="let item of feedBackEnumList">
                        <nz-option [nzLabel]="item.text" [nzValue]="item.value"></nz-option>
                    </ng-container>
                </nz-select>

                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="formGroup.get('type')?.dirty && formGroup.get('type')?.errors"
                    >
                        反馈类型不能为空
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>反馈内容</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <textarea
                    rows="4"
                    nz-input
                    formControlName="backContent"
                    placeholder="输入反馈内容"
                ></textarea>
                <!-- <nz-form-explain
                    *ngIf="
                        formGroup.get('backContent')?.dirty && formGroup.get('backContent')?.errors
                    "
                >
                    反馈内容不能为空
                </nz-form-explain> -->
                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="
                            formGroup.get('backContent')?.dirty &&
                            formGroup.get('backContent')?.errors
                        "
                    >
                        反馈内容不能为空
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<!-- 纠错表格 -->
<nz-drawer
    nzPlacement="right"
    [nzOffsetX]="recoveryError.visible ? 180 : 0"
    [nzTitle]="recoveryTable.title"
    [nzWidth]="recoveryTable.width"
    [nzVisible]="recoveryTable.visible"
    (nzOnClose)="recoveryTable.close()"
>
    <div class="drawer_area">
        <div class="header tabset">
            <nz-tabset
                [(nzSelectedIndex)]="recoveryTable.selectIndex"
                (nzSelectChange)="recoveryTable.evtSelectChange($event)"
                [nzTabBarStyle]="{ 'margin.px': 0, 'height.px': 50 }"
            >
                <ng-container *ngFor="let item of recoveryTable.tabset">
                    <nz-tab [nzTitle]="item.text"></nz-tab>
                </ng-container>
            </nz-tabset>
        </div>

        <div class="container">
            <nz-table
                #recoveryTableTemp
                nzBordered
                nzSize="small"
                [nzData]="recoveryTable.data"
                [nzPageSize]="15"
            >
                <thead>
                    <tr>
                        <!-- <th>标记内容</th> -->
                        <th nzWidth="100px">反馈类型</th>
                        <th>反馈内容</th>
                        <th nzWidth="100px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of recoveryTableTemp.data">
                        <!-- <td>{{data.chooseContent}}</td> -->
                        <td>{{ recoveryTable.getTypeEn(data.type) }}</td>
                        <td>{{ data.backContent }}</td>
                        <td>
                            <ng-container *ngIf="recoveryTable.selectIndex === 0">
                                <a (click)="recoveryTable.edit(data)">编辑</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="recoveryTable.delete(data)">删除</a>
                            </ng-container>
                            <ng-container *ngIf="recoveryTable.selectIndex === 1">
                                <a (click)="recoveryTable.edit(data)">查看</a>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</nz-drawer>

<!-- 纠错反馈 -->
<nz-drawer
    nzPlacement="right"
    [nzTitle]="recoveryError.title"
    [nzWidth]="recoveryError.width"
    [nzVisible]="recoveryError.visible"
    (nzOnClose)="recoveryError.close()"
>
    <div class="drawer_area">
        <div class="container">
            <ng-template
                [ngTemplateOutlet]="recoveryErrorTemp"
                [ngTemplateOutletContext]="{
                    formGroup: recoveryError.form,
                    signText: signSelectorText
                }"
            >
            </ng-template>
        </div>
        <div class="footer">
            <button
                nz-button
                nzType="primary"
                *ngIf="recoveryTable.selectIndex === 0"
                (click)="recoveryError.save()"
            >
                保存
            </button>
        </div>
    </div>
</nz-drawer>

<ng-template #collectEditsTemp let-formGroup="formGroup">
    <form nz-form [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label nzRequired>名称</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <input nz-input formControlName="favoritesName" placeholder="输入文件名称" />

                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="
                            formGroup.get('favoritesName')?.dirty &&
                            formGroup.get('favoritesName')?.errors
                        "
                    >
                        文件名称不能为空
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired>分类</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <div nz-row>
                    <div nz-col nzSpan="16">
                        <nz-select
                            nzShowSearch
                            formControlName="groupId"
                            nzPlaceHolder="请选择分类"
                        >
                            <ng-container *ngFor="let item of collect.classify">
                                <nz-option
                                    [nzLabel]="item.groupName"
                                    [nzValue]="item.groupId"
                                ></nz-option>
                            </ng-container>
                        </nz-select>

                        <ng-template #errorTpl let-control>
                            <ng-container
                                *ngIf="
                                    formGroup.get('groupId')?.dirty &&
                                    formGroup.get('groupId')?.errors
                                "
                            >
                                分类不能为空
                            </ng-container>
                        </ng-template>
                    </div>
                    <div nz-col nzSpan="4" nzOffset="2">
                        <button nz-button nzType="primary" (click)="collect.addGroup()">
                            分类维护
                        </button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<!-- 收藏抽屉 -->
<nz-drawer
    nzPlacement="right"
    [nzOffsetX]="collect.group.visible ? 180 : 0"
    [nzTitle]="collect.title"
    [nzWidth]="collect.width"
    [nzVisible]="collect.visible"
    (nzOnClose)="collect.close()"
>
    <div class="drawer_area">
        <div class="container">
            <ng-template
                [ngTemplateOutlet]="collectEditsTemp"
                [ngTemplateOutletContext]="{ formGroup: collect.form }"
            >
            </ng-template>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="collect.save()">收藏</button>
        </div>
    </div>

    <!-- 分组维护 -->
    <nz-drawer
        [nzOffsetX]="collect.groupEdit.visible ? 140 : 0"
        nzPlacement="right"
        [nzVisible]="collect.group.visible"
        [nzWidth]="collect.group.width"
        [nzTitle]="collect.group.title"
        (nzOnClose)="collect.group.close()"
    >
        <div class="collect-info position_0">
            <cdk-virtual-scroll-viewport #scrollCollectList [itemSize]="30" class="list">
                <div class="handle">
                    <div class="find">
                        <nz-select
                            [ngStyle]="{ 'width.px': collect.group.find.searchWidth || 160 }"
                            nzShowSearch
                            nzServerSearch
                            nzAllowClear
                            [nzPlaceHolder]="collect.group.find.placeholder || '请输入关键字搜索'"
                            [nzShowArrow]="false"
                            [nzFilterOption]="collect.group.find.nzFilterOption"
                            [(ngModel)]="collect.group.find.searchKey"
                            (ngModelChange)="collect.group.find.change($event)"
                            (nzOnSearch)="collect.group.find.search($event)"
                        >
                            <ng-container *ngFor="let item of collect.group.find.list">
                                <nz-option [nzLabel]="item.groupName" [nzValue]="item.groupId">
                                </nz-option>
                            </ng-container>
                        </nz-select>
                    </div>

                    <div class="btns">
                        <button nz-button nzType="primary" (click)="collect.group.add()">
                            添加分类
                        </button>
                    </div>
                </div>

                <ng-container *ngFor="let item of collect.classify; let i = index">
                    <div
                        class="item {{ collect.group.selectedIndex === i ? 'selected' : '' }}"
                        (click)="collect.group.selected(i)"
                    >
                        {{ item.groupName }}
                        <a (click)="collect.group.delete(i)">删除</a>
                        <!-- <a (click)="collect.group.edit(i)">编辑</a> -->
                    </div>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        </div>
    </nz-drawer>

    <!-- 分组节点信息编辑 -->
    <nz-drawer
        nzPlacement="right"
        [nzVisible]="collect.groupEdit.visible"
        [nzWidth]="collect.groupEdit.width"
        [nzTitle]="collect.groupEdit.title"
        (nzOnClose)="collect.groupEdit.close()"
    >
        <div class="drawer_area">
            <div class="container">
                <form nz-form [formGroup]="collect.groupEdit.form">
                    <nz-form-item>
                        <nz-form-label nzRequired>分类名称</nz-form-label>
                        <nz-form-control [nzErrorTip]="errorTpl">
                            <input nz-input formControlName="groupName" placeholder="分类名称" />
                            <!-- <nz-form-explain
                                *ngIf="
                                    collect.groupEdit.form.get('groupName')?.dirty &&
                                    collect.groupEdit.form.get('groupName')?.errors
                                "
                            >
                                分类名称不能为空。
                            </nz-form-explain> -->

                            <ng-template #errorTpl let-control>
                                <ng-container
                                    *ngIf="
                                        collect.groupEdit.form.get('groupName')?.dirty &&
                                        collect.groupEdit.form.get('groupName')?.errors
                                    "
                                >
                                    分类名称不能为空。
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
            <div class="footer">
                <button nz-button nzType="primary" (click)="collect.groupEdit.save()">保存</button>
            </div>
        </div>
    </nz-drawer>
</nz-drawer>

<!-- 标记、笔记编辑字段模板 -->
<ng-template #noteEditorTemp let-formGroup="formGroup" let-signText="signText">
    <form nz-form nzLayout="vertical" [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label>标记内容：</nz-form-label>
            <nz-form-control>
                <div class="tag_context">{{ signText }}</div>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="notebook_title">标题</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <input
                    nz-input
                    id="notebook_title"
                    formControlName="title"
                    placeholder="请输入标题"
                />

                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="formGroup.get('title')?.dirty && formGroup.get('title')?.errors"
                    >
                        笔记标题不能为空。
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="notebook_content">内容</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <textarea
                    rows="4"
                    nz-input
                    id="notebook_content"
                    formControlName="content"
                    placeholder="输入内容"
                ></textarea>

                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="formGroup.get('content')?.dirty && formGroup.get('content')?.errors"
                    >
                        笔记内容不能为空。
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="notebook_reference">文号</nz-form-label>
            <nz-form-control>
                <textarea
                    rows="4"
                    nz-input
                    id="notebook_reference"
                    formControlName="documentNumber"
                    placeholder="输入文号"
                ></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="notebook_comment">备注</nz-form-label>
            <nz-form-control>
                <textarea
                    rows="4"
                    nz-input
                    id="notebook_comment"
                    formControlName="contentNote"
                    placeholder="输入备注"
                ></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<!-- 增加，编辑笔记抽屉 -->
<nz-drawer
    nzPlacement="right"
    [nzOffsetX]="noteBook.existIfy.visible ? 140 : 0"
    [nzTitle]="noteBook.title"
    [nzWidth]="noteBook.width"
    [nzVisible]="noteBook.visible"
    (nzOnClose)="noteBook.close()"
>
    <div class="drawer_area">
        <div class="header">
            <nz-button-group>
                <button nz-button nzType="primary" (click)="noteBook.selectedExist()">
                    选择已有笔记
                </button>
                <button nz-button (click)="noteBook.reset()">重置</button>
            </nz-button-group>
        </div>

        <div class="container">
            <ng-template
                [ngTemplateOutlet]="noteEditorTemp"
                [ngTemplateOutletContext]="{ formGroup: noteBook.form, signText: signSelectorText }"
            >
            </ng-template>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="noteBook.save()">保存</button>
        </div>
    </div>
</nz-drawer>

<!-- 已有笔记 -->
<nz-drawer
    nzPlacement="right"
    [nzVisible]="noteBook.existIfy.visible"
    [nzWidth]="noteBook.existIfy.width"
    [nzTitle]="noteBook.existIfy.title"
    (nzOnClose)="noteBook.existIfy.close()"
>
    <div class="collect-info position_0">
        <cdk-virtual-scroll-viewport #noteBookExistIfyList [itemSize]="30" class="list">
            <div class="handle">
                <div class="find">
                    <nz-select
                        [ngStyle]="{ 'width.px': noteBook.existIfy.find.searchWidth || 160 }"
                        nzShowSearch
                        nzServerSearch
                        nzAllowClear
                        [nzPlaceHolder]="noteBook.existIfy.find.placeholder || '请输入关键字搜索'"
                        [nzShowArrow]="false"
                        [nzFilterOption]="noteBook.existIfy.find.nzFilterOption"
                        [(ngModel)]="noteBook.existIfy.find.searchKey"
                        (ngModelChange)="noteBook.existIfy.find.change($event)"
                        (nzOnSearch)="noteBook.existIfy.find.search($event)"
                    >
                        <ng-container *ngFor="let item of noteBook.existIfy.find.list">
                            <nz-option [nzLabel]="item.title" [nzValue]="item.noteId"> </nz-option>
                        </ng-container>
                    </nz-select>
                </div>
                <div class="btns">
                    <button nz-button nzType="primary" (click)="noteBook.existIfy.evtSelected()">
                        选择
                    </button>
                </div>
            </div>

            <ng-container *ngFor="let item of noteBook.list; let i = index">
                <div
                    [attr.title]="item.title"
                    class="item {{ noteBook.existIfy.selectedIndex === i ? 'selected' : '' }}"
                    (click)="noteBook.existIfy.selected(i)"
                >
                    {{ item.title }}
                </div>
            </ng-container>
        </cdk-virtual-scroll-viewport>
    </div>
</nz-drawer>
