<!-- <section class="layout">
    <header>
        <ng-template [ngTemplateOutlet]="header"></ng-template>
    </header>
    <aside>
        <ng-template [ngTemplateOutlet]="aside"></ng-template>
    </aside>
    <main>
        <ng-template [ngTemplateOutlet]="main"></ng-template>
    </main>
</section> -->
<div class="layout">
    <div class="header">
        <button nz-button nzType="primary" (click)="addNoteData()">增加笔记</button>
    </div>
    <div class="container">
        <div class="left left-content">
            <div class="find" style="padding: 0 10px">
                <nz-select
                    [ngStyle]="{ 'width.px': noteList.find.searchWidth || 160 }"
                    nzShowSearch
                    nzServerSearch
                    nzAllowClear
                    [nzPlaceHolder]="noteList.find.placeholder || '请输入关键字搜索'"
                    [nzShowArrow]="false"
                    [nzFilterOption]="noteList.find.nzFilterOption"
                    [(ngModel)]="noteList.find.searchKey"
                    (ngModelChange)="noteList.find.change($event)"
                    (nzOnSearch)="noteList.find.search($event)"
                >
                    <ng-container *ngFor="let item of noteList.find.list">
                        <nz-option [nzLabel]="item.title" [nzValue]="item.noteId"> </nz-option>
                    </ng-container>
                </nz-select>
            </div>
            <div class="tree content">
                <ng-container *ngFor="let item of noteList.data; let i = index">
                    <div
                        class="item"
                        [attr.title]="item.title"
                        [class.active]="noteList.selectedItem?.noteId === item.noteId"
                        (click)="noteList.evtSelect(item)"
                    >
                        <span *ngIf="item.invalidEnum === 1">（已作废）</span>{{ item.title }}
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="right">
            <div class="layout">
                <div class="header">
                    <nz-button-group *ngIf="noteList.selectedItem">
                        <button
                            nz-button
                            nzType="primary"
                            (click)="editNoteData(noteList.selectedItem)"
                        >
                            修改笔记内容
                        </button>
                        <button
                            nz-button
                            nzType="primary"
                            (click)="deleteNoteData(noteList.selectedItem)"
                        >
                            删除笔记
                        </button>
                    </nz-button-group>
                </div>
                <div class="container">
                    <div style="width: 100%; height: 100%; padding: 10px">
                        <nz-table
                            #tagsTableView
                            nzBordered
                            nzSize="small"
                            [nzPageSizeOptions]="[5, 10, 20, 50]"
                            [nzData]="tagsTable.content"
                        >
                            <thead>
                                <tr>
                                    <th>笔记关联标记内容</th>
                                    <th nzWidth="100px">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of tagsTableView.data">
                                    <td>{{ data.tag }}</td>
                                    <td>
                                        <a (click)="deleteTag(data)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 笔记编辑字段模板 -->
<ng-template #noteEditorTemp let-formGroup="formGroup">
    <form nz-form nzLayout="vertical" [formGroup]="formGroup">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="notebook_title">标题</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <input
                    nz-input
                    id="notebook_title"
                    formControlName="title"
                    placeholder="请输入标题"
                />

                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="formGroup.get('title')?.dirty && formGroup.get('title')?.errors"
                    >
                        笔记标题不能为空。
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzRequired nzFor="notebook_content">内容</nz-form-label>
            <nz-form-control [nzErrorTip]="errorTpl">
                <textarea
                    rows="4"
                    nz-input
                    id="notebook_content"
                    formControlName="content"
                    placeholder="输入内容"
                ></textarea>

                <ng-template #errorTpl let-control>
                    <ng-container
                        *ngIf="formGroup.get('content')?.dirty && formGroup.get('content')?.errors"
                    >
                        笔记标题不能为空。
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="notebook_reference">文号</nz-form-label>
            <nz-form-control>
                <textarea
                    rows="4"
                    nz-input
                    id="notebook_reference"
                    formControlName="documentNumber"
                    placeholder="输入文号"
                ></textarea>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label nzFor="notebook_comment">备注</nz-form-label>
            <nz-form-control>
                <textarea
                    rows="4"
                    nz-input
                    id="notebook_comment"
                    formControlName="contentNote"
                    placeholder="输入备注"
                ></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
</ng-template>

<!-- 增加，编辑笔记抽屉 -->
<nz-drawer
    nzPlacement="right"
    [nzTitle]="noteBook.title"
    [nzWidth]="noteBook.width"
    [nzVisible]="noteBook.visible"
    (nzOnClose)="noteBook.close()"
>
    <div class="drawer_area">
        <div class="container">
            <ng-template
                [ngTemplateOutlet]="noteEditorTemp"
                [ngTemplateOutletContext]="{ formGroup: noteBook.form }"
            >
            </ng-template>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="noteBook.save()">保存</button>
        </div>
    </div>
</nz-drawer>
