@import 'src/app/styles/drawer';
@import 'src/app/styles/layout';

$header-height: 50px;
$left-width: 400px;

.left-content {
    height: 100%;

    .content {
        height: calc(100% - 50px);
        overflow: auto;

        .item {
            position: relative;
            height: 40px;
            line-height: 40px;
            padding-left: 5px;
            cursor: pointer;
            overflow: hidden;
            border-bottom: 1px solid #eee;

            &:hover {
                background-color: #eee;
            }

            &.active {
                background-color: #5ac994;
                background-color: rgba(0, 0, 0, 0.16);
                color: #3f9ffe;
            }

            &.active::before {
                content: '';
                width: 3px;
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                margin: 0 auto;
                background-color: #5ac994;
            }
        }
    }
}
