/*导入布局样式*/
@import "src/app/styles/layout";
@import "src/app/styles/drawer";

// 左侧条件选项框边距
$left_handle_margin: 10px;
$border-color: #e8e8e8;

/*组件样式重写*/

//表格分页条与表格表框对齐
::ng-deep .ant-pagination-options-size-changer.ant-select {
    margin-right: 0;
}

::ng-deep .ant-tabs-bar {
    margin-bottom: 0;
}

// 公用样式
.position_0 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.bolder {
    font-weight: bold;
}

.layout {
    .label-item {
        margin-right: 10px;
        @extend .bolder;
    }

    .right {
        & > * {
            width: 100%;
        }

        .header {
            display: flex;
            align-items: center;

            .org-select-wrap {
                display: flex;
                align-items: center;
                height: 100%;

                & > * {
                    margin-right: 10px;
                }
            }

            .ledger-title {
                height: 32px;
                line-height: 32px;
                font-size: 14px;
                color: #555555;
            }

            .year-select {
                width: 80px;
                margin: 0 10px;
            }

            .type-select {
                width: 260px;
                margin: 0 10px;
            }
        }

        .right-container {
            padding: 20px 10px;
            flex-direction: column;

            .m-content {
                display: flex;
                height: 100%;
                flex-direction: column;

                nz-tabset {
                    margin-top: 20px;
                    border-top: 1px solid $border-color;
                }

                .ledger-handle {
                    display: flex;
                    padding: 20px 0;
                    justify-content: space-between;
                    flex-shrink: 0;

                    .tbl-find {
                        width: 180px;
                        height: 32px;
                    }

                    .btn-group {
                        display: flex;
                        justify-content: right;

                        button {
                            margin-left: 10px;
                        }
                    }

                    .switch-edit {
                        margin-top: 8px;
                    }
                }

                .tbl-wrap {
                    position: relative;
                    height: 100%;
                    overflow: auto;
                }
            }
        }
    }
}

// 选择机构抽屉
.drawer_org {
    display: flex;

    $header-height: 50px;

    .unit_area {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 320px !important;
        height: 100%;

        .handle {
            padding: 0 $left_handle_margin;

            nz-select {
                width: 100%;
            }
        }

        .person_condition {
            padding: 0 $left_handle_margin/2;

            & > div {
                padding: 0 $left_handle_margin/2;
            }
        }

        .org_tree {
            height: 100%;
            width: 100%;
        }

        & > .find,
        & > .handle {
            height: $header-height;
            /*flex 布局*/
            display: flex;
            /*实现垂直居中*/
            align-items: center;
            /*实现水平居中*/
            justify-content: center;
            border-bottom: 1px solid #eee;
        }

        & > .tree {
            height: 100%;
            flex: 1;
            overflow: hidden;
        }
    }
}

// 选人抽屉
.selector_person {
    .handle {
        padding-bottom: 10px;

        .find {
            float: right;
        }
    }

    .gl_card {
        border: 1px solid #eee;

        .title {
            padding: 10px;
            border-bottom: 1px solid #eee;
        }

        .content {
            padding: 10px;

            & nz-tag {
                margin: 5px;
            }
        }
    }
}

// 选择机构抽屉
.selector_unit {
    top: 55px;

    .handler {
        position: sticky;
        top: 0;
        padding: 5px 20px;
        border-bottom: 1px solid #eee;
    }

    .drawer-tree {
        height: calc(100% - 50px);
        overflow: auto;
    }

    .drawer-tree-view {
        position: absolute;
        top: 50px;
    }
}

// 批量修改抽屉
.batch-edit {
    display: flex;

    .left-main {
        flex: 1;
        width: 300px;
        height: 100%;
        overflow: auto;
    }

    .right-main {
        display: flex;
        flex-direction: column;

        & > .header {
            height: 50px;
        }

        & > .container {
            flex: 1;
            overflow: auto;

            .form-wrap {
                width: 100%;
                padding: 0 20px;
                overflow: auto;

                .radio-group {
                    margin: 20px 0;
                }
            }
        }
    }

    .ellipsis-item {
        display: inline-block;
        width: 100%;
        word-break: keep-all;
        text-overflow: ellipsis;
        white-space: pre;
        overflow: hidden;
    }
}

.tips {
    padding: 0;
    color: red;
    line-height: 30px;
}
