@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

nz-select {
    width: 100%;
}
nz-table {
    width: 100%;
}
.layout {
    .header {
        padding: 0 10px;
        // display: flex;
        // align-items: center;
    }
    .tabset {
        display: flex;
        justify-content: center;
    }
    .tree_search {
        padding: 0 5px;
        div {
            padding: 0 5px;
            white-space: nowrap;
        }
    }
}

.warped {
    padding: 1px 2px;
    margin-left: 5px;
    border-radius: 2px;
    font-size: smaller;
    color: white;
    background-color: orange;
}
.operGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.green {
    color: green;
}

.header-item {
    margin-left: 10px;
}
