<nz-drawer
    [nzVisible]="contactsIfy.visible"
    nzPlacement="right"
    [nzTitle]="contactsIfy.title"
    [nzWidth]="contactsIfy.width"
    (nzOnClose)="contactsIfy.close()"
>
    <div class="drawer_area">
        <div class="container">
            <div class="view">
                <nz-table
                    nzBordered
                    nzSize="small"
                    #contactsTableElement
                    [(nzPageIndex)]="contactsIfy.pageIndex"
                    [(nzPageSize)]="contactsIfy.pageSize"
                    [nzData]="contactsIfy.data"
                >
                    <thead>
                        <tr>
                            <th>联系人</th>
                            <th>联系电话</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of contactsTableElement.data; let i = index"
                            [class.active]="contactsIfy.selectRowIndex === i"
                            (click)="contactsIfy.evtSelectRow(i)"
                            (dblclick)="contactsIfy.evtSelectRowConfirm(i)"
                        >
                            <td>{{ data.contacts }}</td>
                            <td>{{ data.contactNumber }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div class="footer">
            <button nz-button nzType="primary" (click)="contactsIfy.evtConfirm()">确认选择</button>
        </div>
    </div>
</nz-drawer>
