<div class="layout">
    <div class="header">
        <nz-tabset
            [nzTabBarStyle]="{ 'margin.px': 0, 'height.px': 50, 'padding-top': '3px' }"
            [nzSelectedIndex]="0"
        >
            <nz-tab [nzTitle]="tabOp.title"></nz-tab>
        </nz-tabset>
    </div>
    <div class="header">
        <!-- 搜索框 -->
        <nz-select
            class="oper-search"
            nzShowSearch
            nzServerSearch
            nzPlaceHolder="请输入关键字搜索"
            [nzShowArrow]="false"
            [(ngModel)]="select.selectedValue"
            (nzOnSearch)="searchKey($event)"
            (ngModelChange)="moduleChange($event)"
        >
            <ng-container *ngFor="let item of select.data">
                <nz-option [nzValue]="item.value" [nzLabel]="item.text"> </nz-option>
            </ng-container>
        </nz-select>
    </div>
    <div class="container">
        <div class="view_scroll">
            <nz-table
                #operInfo
                nzShowSizeChanger
                nzBordered
                [nzData]="operTable.content"
                nzSize="small"
                [(nzPageSize)]="operTable.pageSize"
                [(nzPageIndex)]="operTable.pageIndex"
                [nzLoading]="operTable.isLoading"
                [nzPageSizeOptions]="[5, 10, 20, 50]"
            >
                <thead>
                    <tr>
                        <th [nzAlign]="'center'">业务名称</th>
                        <th [nzAlign]="'center'">办理业务单位</th>
                        <th [nzAlign]="'center'">办理业务人员</th>
                        <th [nzAlign]="'center'">办理业务时间</th>
                        <th [nzAlign]="'center'">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let data of operInfo.data; let i = index"
                        [class.active]="operTable.selectedIndex === i"
                    >
                        <td [nzAlign]="'center'">{{ pageParams.NAME }}</td>
                        <td [nzAlign]="'center'">{{ data.orgName }}</td>
                        <td [nzAlign]="'center'">{{ data.userName }}</td>
                        <td [nzAlign]="'center'">{{ data.startTime | date: 'yyyy-MM-dd' }}</td>
                        <td [nzAlign]="'center'"><a (click)="goWfView(data)">查看</a></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
