$btnbg: #101010;

.opbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    z-index: -1;
}

.thumbnails {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    margin: auto;
    background-color: #ccc;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    img {
        height: 180px;
        width: 180px;
        margin: 5px 10px;

        &:first-child {
            margin-top: 10px;
        }
    }
    a.active {
        img {
            border: 5px solid #cc0000;
        }
    }
}

.lyt_doc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 45px;
    overflow: hidden;

    .infobar {
        position: absolute;
        left: 20px;
        top: 20px;
        color: #fff;
    }

    &.show_th {
        right: 200px;
    }

    .operation {
        position: absolute;
        right: 0;
        bottom: 0;
        display: inline-block;
        z-index: 10;
    }

    .left {
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }

    .right {
        position: absolute;
        right: -5px;
        top: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
    }

    .btn_item {
        width: 45px;
        height: 45px;
        float: left;
        text-align: center;
        line-height: 45px;
        color: #ccc;
        cursor: pointer;
        transition: opacity 0.25s ease, visibility 0s ease 0.25s;
        font-size: 16px;
        background-color: $btnbg;
        cursor: pointer;

        &:hover {
            color: #fff;
        }
    }

    .file_view {
        height: 100%;
        width: 100%;

        .item {
            height: 100%;
            width: 100%;
            /*flex 布局*/
            display: flex;
            /*实现垂直居中*/
            align-items: center;
            /*实现水平居中*/
            justify-content: center;
            overflow: hidden;

            img {
                max-width: auto;
                max-height: 100%;
                cursor: move;
            }
        }
    }
}

.error {
    color: #fff;
}
