@import 'src/app/styles/drawer';

// 现工作单位及职务全称 特殊编辑框
.a02_editor {
    .card {
        margin-bottom: 10px;
    }
    .name {
        display: flex;
        align-items: center;

        .item {
            margin-bottom: 10px;

            .label {
                line-height: 32px;
            }
        }

        .btns {
            button {
                margin-bottom: 10px;
            }
        }
    }
    .tbl {
        margin-top: 10px;
    }
}

.handle {
    nz-button-group {
        margin-right: 10px;
    }
}
