<!-- 业务流程图 -->
<nz-drawer
    nzPlacement="top"
    [nzVisible]="operStepFlowIfy.visible"
    [nzTitle]="operStepFlowIfy.title"
    [nzHeight]="operStepFlowIfy.height"
    (nzOnClose)="operStepFlowIfy.close()"
>
    <div class="drawer_area oper_step_flow">
        <nz-steps [nzCurrent]="operStepFlowIfy.evtGetStepIndex()">
            <ng-container *ngFor="let item of operStepFlowIfy.list">
                <nz-step
                    [nzTitle]="item.stepName"
                    [nzIcon]="item.icon"
                    [nzDescription]="item.desc || ''"
                >
                </nz-step>
            </ng-container>
        </nz-steps>
    </div>
</nz-drawer>

<!-- 业务流程监控 -->
<nz-drawer
    [nzVisible]="operTailIfy.visible"
    [nzTitle]="operTailIfy.title"
    [nzWidth]="operTailIfy.width"
    (nzOnClose)="operTailIfy.close()"
>
    <div class="drawer_area oper_tail">
        <div class="container">
            <div class="view_scroll">
                <nz-timeline>
                    <nz-timeline-item [nzDot]="dotTemplate"><span>业务开始</span></nz-timeline-item>
                    <ng-container *ngFor="let item of operTailIfy.list; let i = index">
                        <nz-timeline-item [nzColor]="['red', 'blue', 'green'][i % 3]">
                            <p>
                                <b>{{ item.stateDesc }}</b>
                                {{ item.auditDate | date: 'yyyy-MM-dd HH:mm' }}
                            </p>
                            <p>
                                <b
                                    ><span>{{ item.contacts }}</span></b
                                ><span> {{ item.orgName }} {{ item.contactNumber }}</span>
                            </p>
                            <p *ngIf="item.auditStateDesc">批复结果： {{ item.auditStateDesc }}</p>
                        </nz-timeline-item>
                    </ng-container>
                </nz-timeline>
                <ng-template #dotTemplate>
                    <i nz-icon type="clock-circle-o" style="font-size: 16px"></i>
                </ng-template>
            </div>
        </div>
    </div>
</nz-drawer>
