@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

$selectedItemHeight: 30px;

.query_condition_area {
    height: auto !important;
    padding: 5px 10px !important;
    line-height: 40px !important;

    & > button {
        margin-right: 10px;
    }

    .title {
        width: 120px;
        line-height: 30px;
        margin-top: 10px;
    }
    .item {
        display: inline-block;
        border: 1px solid #ddd;
        padding-left: 10px;
        height: $selectedItemHeight;
        line-height: $selectedItemHeight;
        margin-right: 10px;
        cursor: pointer;

        .close {
            float: right;
            width: $selectedItemHeight;
            height: $selectedItemHeight - 2;
            line-height: $selectedItemHeight - 2;
            text-align: center;
            margin-left: 10px;
            color: #ddd;
            border-left: 1px solid #eee;
            padding-bottom: 2px;
            cursor: pointer;

            &:hover {
                background-color: #eee;
                color: #000;
                border-color: #ddd;
            }
        }
    }
}

.query_condition_list {
    height: auto !important;
    border-bottom: 1px solid #eee;
    padding: 0 !important;

    .view_scroll {
        max-height: 150px;
    }

    .condition {
        .c_item {
            display: flex;
            padding: 8px 0;
            border-bottom: 1px solid #eee;
            height: 50px;
            line-height: 50px;

            &:last-child {
                border-bottom: none;
            }

            .title {
                min-width: 180px;
                padding-left: 10px;
                font-size: 14px;
                color: #666666;
                line-height: 32px;
            }

            .scope {
                width: 100%;

                &::after {
                    content: '';
                    display: table;
                    clear: both;
                }

                .link {
                    padding-left: 0;
                }
            }
        }
    }
}
.query_result_switch {
    text-align: center;
}
.query_result_area {
    height: calc(100% - 50px) !important;

    .query_count_area {
        .count {
            display: inline;
        }
    }

    .query_table_area {
        .view_scroll {
            padding: 10px;
        }
    }
}

.selected-table {
    position: relative;

    & > div {
        border-left: 1px solid #eee;
        width: 40px;

        text-align: center;
        line-height: 40px;
        font-size: 18px;
        color: #ccc;
    }

    .edit {
        position: absolute;
        right: 80px;
        left: auto;
        cursor: pointer;

        &:hover {
            background-color: #eee;
            color: blueviolet;
        }
    }

    .close {
        position: absolute;
        right: 40px;
        left: auto;
        cursor: pointer;

        &:hover {
            background-color: #eee;
            color: blueviolet;
        }
    }

    .drag-handle {
        position: absolute;
        right: 0px;
        left: auto;
        cursor: move;
    }
}

// 字段显示调整
.table_header_field {
    padding: 0 !important;
    display: flex;
    justify-content: space-between;

    .left_main {
        flex-grow: 1;
        width: auto;
        max-width: calc((100% - 100px) / 2);
        height: 100%;

        .adjust_fields {
            .search_put {
                margin: 10px 10px 0 10px;
                width: calc(100% - 20px);
            }
            .list {
                padding: 10px 0;
            }
        }
    }

    .aside {
        height: 100%;
        width: 100px;
        border-left: 1px solid #eee;
        border-right: 1px solid #eee;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right_main {
        flex-grow: 1;
        width: auto;

        .title {
            padding-left: 10px;
        }

        .selected {
            .list {
                padding: 5px;
            }
        }
    }

    .adjust_fields,
    .selected {
        height: 100%;
    }

    .title {
        height: $handle-height;
        line-height: $handle-height;
        border-bottom: 1px solid #eee;
        font-size: 16px;
    }

    .list {
        height: calc(100% - #{$handle-height});
        overflow: auto;
    }
}

// 字段拖动

// 拖动样式
.drag-list {
    display: block;
    background: white;
    border: 2px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.drag-item {
    padding: 10px 0 10px 10px;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
    & :not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}
