@import 'src/app/styles/drawer';

.adjust_container {
    overflow-y: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 0 !important;
    padding-top: 10px;

    $row-height: 30px;

    .view {
        overflow: hidden;
        overflow-y: auto;
    }

    .theader {
        position: sticky;
        top: 0;

        height: $row-height;
        line-height: $row-height;
        background-color: #fff;
        display: flex;
    }

    .row {
        display: flex;
        height: $row-height;
        line-height: $row-height;
        border-top: 1px solid #eee;
        cursor: pointer;

        &:hover {
            background-color: #e6f7ff;
        }

        &.active {
            background-color: #4099ff;
            color: #fff;
        }

        &:last-child {
            border-bottom: 1px solid #eee;
        }
    }

    .tcol {
        display: inline-block;
        width: 100%;
        border-left: 1px solid #eee;
        padding: 0 10px;
    }

    .tcol:first-child {
        width: 100px;
        text-align: center;
        border: none;
    }

    .tcol:last-child {
        width: 400px;
    }
}
