@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

.separator {
    height: 5px;
    background-color: #f1f2f2;
}

.wh_100 {
    width: 100%;
}
.mg_lr_10 {
    margin: 0 10px;
}
.bd_none {
    border: none !important;
}
.pdd_10 {
    padding: 10px;
}

.salary_content {
    .salary_operations {
        background-color: #f1f2f2;
    }

    .salary_chunk {
        height: auto;
    }
}

.custom_table {
    table-layout: fixed;
    width: 100%;
    border: 1px solid #e8e8e8;

    &.readly {
        td {
            background-color: #fafafa;
        }
    }
    tr {
        border-bottom: 1px solid #e8e8e8;

        td,
        th {
            // padding: 12px 24px;
            padding: 8px 16px;
            text-align: left;
            border-right: 1px solid #e8e8e8;
        }

        .label {
            background-color: #f0fbff;
            color: #000;
            font-weight: bold;
        }

        .value {
            position: relative;

            input {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                margin: auto;
                border: none;
                padding: 0 16px;
            }
        }

        // .value_readly {
        //     background-color: #fafafa;
        //     color: #000;
        // }
    }
    tr > th[colspan] {
        text-align: center;
    }
}

.arrows {
    font-size: 18px;
    cursor: pointer;
    display: inline;
    margin-right: 15px;
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;

    &.down,
    &.up {
        height: 100%;
    }
}
