@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

.imgInfo{
    margin: 10px 0;
    width: 100%;
    height: 130px;
    text-align: center;
}
.psnPhoto{
    cursor: pointer;
}

.audit_list {
    $item-height: 40px;

    width: 100%;

    .item {
        height: $item-height;
        line-height: $item-height;
        border-bottom: 1px solid #eee;

        display: flex;
        align-items: center;

        &:before {
            content: '';
            display: inline-block;
            width: 3px;
            height: $item-height;
        }
        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .icon {
            width: 30px;
            padding: 0 10px;
        }

        & > .title {
            flex: 1;
            cursor: pointer;
            padding: 0 10px;
        }

        & > .btns {
            .btn {
                padding: 0 10px;
                // border-left: 1px solid #eee;
                color: #40a9ff;
                cursor: pointer;
            }
        }
    }

    & .fa {
        margin-right: 5px;
    }

    & .fa.error {
        color: #1890ff;
    }

    & .fa.succeed {
        color: #52c41a;
    }

    & .fa.stateless {
        color: #1890ff;
    }
}
