/*导入布局样式*/
@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

$header-height: 70px;
$footer-height: 50px;

.oper_main {
    background-color: transparent;

    & > .header {
        height: $header-height;
        line-height: $header-height;
        background-color: #f0f2f5;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .trans_step {
            min-width: 800px;
        }
    }

    & > .footer {
        padding-top: 5px;
        background-color: #f0f2f5;
        button {
            margin-right: 10px;
        }
    }
}

.oper_base {
    /*flex 布局*/
    display: flex;
    /*实现垂直居中*/
    align-items: center;
    /*实现水平居中*/
    justify-content: center;

    .oper_base_info {
        max-width: 700px;
        // padding: 50px;
        // padding-top: 50px;
    }
}

.other_list {
    border: 1px solid #f0f0f0;

    $other-height: 30px;

    .item {
        height: $other-height;
        line-height: $other-height;
        border-bottom: 1px solid #f0f0f0;

        display: flex;
        align-items: center;

        &:last-child {
            border: none;
        }

        &:hover {
            color: #1890ff;
        }

        &.active {
            background-color: #e6f7ff;
            color: #1890ff;

            &:before {
                background-color: #1890ff;
            }
        }

        & > .title {
            padding-left: 10px;
            flex: 1;
            cursor: pointer;
        }

        & > .icon {
            width: 30px;
            padding: 0 10px;
        }
    }
}

.oper_step_flow {
    height: 120px;
    padding: 40px 10px 0 10px;
    margin: 20px;

    background-color: #f0f8ff;
    border: 1px solid #cce8ff;
}
.arrows {
    font-size: 18px;
    cursor: pointer;
    display: inline;
    margin-right: 15px;
}

.full_screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 99;
}
@media screen and (max-width: 1280px) {
    .form_list_tab {
        width: 600px;
    }
}
