<div class="layout">
    <div class="header header_menu">
        <button nz-button nzType="primary" (click)="selectUnit.selectUnitShow()">选择单位</button>
        <span>当前单位：</span>
        <input
            class="input_width"
            nz-input
            placeholder="未选择单位"
            [disabled]="true"
            [(ngModel)]="selectUnit.unitName"
        />
        <label nz-checkbox nzDisabled [(ngModel)]="selectUnit.level">包含下层</label>
    </div>
    <div class="header job_query">
        <b> 晋升情况： </b>
        <div>
            <span>1、晋升后职级范围：</span>
            <dictionary-input-multiple
                class="display_inlb"
                code="BB003"
                placeholder="请选择职级范围"
                [(ngModel)]="queryInfo.jobLevel"
                (ngModelChange)="queryInfo.valueChange($event)"
            >
            </dictionary-input-multiple>
        </div>
        <div>
            <span>2、晋升时间范围：</span>
            <div class="time_input">
                <datetime-input [(ngModel)]="queryInfo.startTime"></datetime-input>
            </div>
            至
            <div class="time_input">
                <datetime-input [(ngModel)]="queryInfo.endTime"></datetime-input>
            </div>
        </div>
        <div class="right">
            <button nz-button nzType="primary" (click)="queryInfo.startQuery()">查询</button>
        </div>
    </div>
    <div class="header person_select">
        <nz-select
            class="select_input"
            nzShowSearch
            nzServerSearch
            nzPlaceHolder="输入查询信息"
            [(ngModel)]="selectPerson.selectedValue"
            [nzShowArrow]="false"
            [nzFilterOption]="selectPerson.nzFilterOption"
            (nzOnSearch)="selectPerson.search($event)"
        >
            <nz-option
                *ngFor="let o of selectPerson.listOfOption"
                [nzLabel]="o.text"
                [nzValue]="o.value"
            >
            </nz-option>
        </nz-select>
        <div class="right">
            <i
                class="download_icon"
                nz-icon
                nzType="cloud-download"
                nzTheme="outline"
                (click)="download()"
            >
            </i>
        </div>
    </div>
    <div class="container content">
        <nz-table
            class="tab_width"
            #tableData
            [nzData]="personTable.list"
            [nzBordered]="true"
            [nzSize]="'small'"
            [nzFrontPagination]="true"
            [nzTotal]="personTable.total"
            [(nzPageIndex)]="personTable.pageIndex"
            [nzPageSize]="personTable.pageSize"
            [nzShowSizeChanger]="true"
            [nzPageSizeOptions]="personTable.pageSizeOptions"
        >
            <thead>
                <tr>
                    <th nzAlign="center">单位</th>
                    <th nzAlign="center">姓名</th>
                    <th nzAlign="center">出生日期</th>
                    <th nzAlign="center">工作单位及职务</th>
                    <th nzAlign="center">晋升前</th>
                    <th nzAlign="center">晋升后</th>
                    <th nzAlign="center">晋升时间</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of tableData.data; let i = index">
                    <td nzAlign="center">{{ data.A0157_CN }}</td>
                    <td nzAlign="center">
                        <a nz-button nzType="link" (click)="personTable.nameClick(data)">{{
                            data.A0101
                        }}</a>
                    </td>
                    <td nzAlign="center">{{ data.A0107 | date: 'yyyy-MM' }}</td>
                    <td nzAlign="center">{{ data.A01R01A }}</td>
                    <td nzAlign="center">{{ data.A96G02 }}</td>
                    <td nzAlign="center">{{ data.A96G05 }}</td>
                    <td nzAlign="center">{{ data.A96G01 | date: 'yyyy-MM-dd' }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>

<!-- 选择单位 -->
<select-org-drawer
    #selectOrgDrawerElement
    [isLevel]="true"
    (selectOrgChange)="selectUnit.evtSelectOrgChange($event)"
>
</select-org-drawer>

<!-- 干部任免审批表 -->
