/*导入布局样式*/
@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';


::ng-deep {
    .ant-calendar-picker{
        display: inline;
    }
}
.layout {
    .whereString {
        min-height: 50px;
        line-height: 50px;
        padding-left: 10px;
        border-bottom: solid 1px #eee;
    }
    & > .header {
        .orgName {
            display: inline-block;
            margin-right: 10px;
            input {
                width: 250px;
            }
        }
    }
    & > .container {
        .content {
            width: 100%;
            padding: 10px;
            display: block;
            overflow-y: auto;
        }

        .Category {
            width: 100%;
            margin-bottom: 15px;
        }
    }
}

.drawer_area {
    & > .header {
        padding: 0px 10px;
        nz-select {
            width: 100%;
        }
    }
    .condition {
        padding: 0 5px;

        & > div {
            padding: 0 5px;
        }
    }
    & > .footer {
        button {
            margin-right: 10px;
        }
    }
}

.org_tree {
    height: 100%;
}

.cadre {
    border: solid 1px #eee;
    padding: 0px 10px;
    & > .title {
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        font-weight: 600;
        .icon {
            width: 50px;
            height: 50px;
            float: right;
            text-align: center;
        }
    }
}
