<div class="layout report_verify">
    <div class="header">
        <p class="title">{{ getTitle() }}</p>
    </div>
    <div class="container">
        <div class="left">
            <div class="sublist">
                <ng-container *ngFor="let item of errorSubListIfy.list">
                    <div
                        class="item"
                        [class.active]="item.childId === errorSubListIfy.selectedChild?.childId"
                        (click)="errorSubListIfy.evtSelected(item)"
                    >
                        <i class="fa fa-times-circle error"></i>
                        {{ item.childId }}表-{{ item.childName }}
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="right">
            <div class="layout verify_result">
                <div class="header">
                    <div class="cell_check tbl">
                        <nz-table
                            #innerTable
                            nzBordered="true"
                            nzSize="small"
                            nzPageSize="6"
                            [nzData]="errorSubListIfy.selectedChild?.innerData"
                        >
                            <thead>
                                <tr>
                                    <th>校验类型</th>
                                    <th>校验过程</th>
                                    <th>校验结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of innerTable.data">
                                    <td>{{ data.CHECK_TYPE_CN }}</td>
                                    <td>
                                        {{ data.LEFT_EXP }}
                                        {{ data.OPERATOR_TYPE }}
                                        {{ data.RIGHT_EXP }}
                                    </td>
                                    <td>
                                        {{ data.LEFT_RESULT }}
                                        {{ data.OPERATOR_TYPE }}
                                        {{ data.RIGHT_RESULT }}
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
                <div class="container">
                    <div class="table_check tbl">
                        <nz-table
                            #outerTable
                            nzBordered="true"
                            nzSize="small"
                            nzPageSize="6"
                            [nzData]="errorSubListIfy.selectedChild?.outerData"
                        >
                            <thead>
                                <tr>
                                    <th>校验类型</th>
                                    <th>校验过程</th>
                                    <th>校验结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of outerTable.data">
                                    <td>{{ data.CHECK_TYPE_CN }}</td>
                                    <td>
                                        {{ data.LEFT_EXP }}
                                        {{ data.OPERATOR_TYPE }}
                                        {{ data.RIGHT_EXP }}
                                    </td>
                                    <td>
                                        {{ data.LEFT_RESULT }}
                                        {{ data.OPERATOR_TYPE }}
                                        {{ data.RIGHT_RESULT }}
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
