@import 'src/app/styles/layout';
@import 'src/app/styles/drawer';

$subtitle-height: 50px;

.level_rise {
    .header {
        button {
            color: #1890ff;
            i {
                color: #1890ff;
            }
        }
    }
    .header.subtitle {
        height: $subtitle-height;
        line-height: $subtitle-height;
        font-size: 18px;

        &::before {
            content: '';
            border-left: 3px solid #4099ff;
            height: $subtitle-height - 10 - 10;
            margin-right: 10px;
        }
    }

    .year_list {
        background: #f1f2f7;
        padding-left: 0;
    }

    .view {
        padding: 10px;
    }
}
.oper_resource {
    button {
        margin-right: 10px;
    }
}
