/*导入布局样式*/
@import "src/app/styles/layout";
@import "src/app/styles/drawer";

::ng-deep {
    .ant-tabs-bar {
        border: none;
    }

    .ant-dropdown-menu-item {
        i {
            color: #1890ff;
        }
    }
}

.layout {
    .zw {
        height: 0px;
        visibility: hidden;
    }

    .oper_list_btns {
        i {
            color: #1890ff;
        }
    }
    // .personal_list {
    //     background-color: #f0fbff;
    // }
    .header {
        & > button {
            margin-right: 10px;
        }

        .person_tbl_handle {
            button {
                margin-left: 10px;
            }
        }

        .select-unit {
            background: linear-gradient(0deg, #4da9ff, #0084ff, #4da9ff);
            border: 1px solid #0a7eeb;
            border-radius: 4px;
        }
    }
    .selected_warp {
        .selected-org {
            display: inline-block;
            margin: 0 20px;
        }
    }

    .table_handle {
        border: none;
    }
    .container {
        .tbl {
            padding: 10px;
            padding-top: 0;
        }
    }
}

// 组件样式重写

:host ::ng-deep {
    .ant-table-footer {
        line-height: 30px;
        padding: 0 10px;
        height: 30px;
    }

    .ant-spin-nested-loading {
        width: 100%;
    }

    .ant-spin-container {
        height: 100%;
    }

    .ant-table {
        tr {
            &:last-child {
                td {
                    border-bottom: 1px solid #e8e8e8 !important;
                }
            }
        }
    }
}
